/*
    Weather Card-1
*/
#weather-card-1.card {
	border: none;
	.day-weather {
		background-color: $dark;
		padding: 27px 0 18px;
		height: 100%;
		border-top-right-radius: $br-0!important;
	    border-bottom-right-radius: $br-0!important;
		i {
			font-size: 50px;
			color: $white;
		}
		p {
			color: $white;
			font-size: 16px;
		}
	}
	.city-1 {
		padding: 27px 0 18px;
		.w-temp {
			position: $pos-rel;
			font-size: 38px;
			color: $additional-color-11;
			font-weight: 600;
			&:before {
				position: $pos-abs;
				content: 'o';
				top: -15px;
				right: -12px;
				font-size: 22px;
				font-weight: 600;
			}
		}
		.w-city-name {
			color: $additional-color-11;
			font-weight: 600;
			font-size: 16px;
		}
	}
	.city-2 {
		padding: 27px 0 18px;
		.w-temp {
			position: $pos-rel;
			font-size: 38px;
			color: $additional-color-11;
			font-weight: 600;
			&:before {
				position: $pos-abs;
				content: 'o';
				top: -15px;
				right: -12px;
				font-size: 22px;
				font-weight: 600;
			}
		}
		.w-city-name {
			color: $additional-color-11;
			font-weight: 600;
			font-size: 16px;
		}
	}
}
