/*
    Newsletter Performance
*/
.newsletter-performance {
	.newsletter-performance-header {
		h6 {
			color: $color_76;
			font-size: 18px;
			font-weight: 600;
		}
	}
	.newsletter-performance-body {
		padding: 40px 50px 20px 50px;
	}
	.media {
		img {
			width: 48px;
			border-radius: 50%;
		}
		.media-body {
			p {
				font-size: 18px;
				font-weight: 600;
				color: $additional-color-11;
			}
		}
	}
	p.email-count {
		font-size: 18px;
		font-weight: 600;
		color: $additional-color-2;
		span.badge {
			padding: 5px 24px;
			background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
			vertical-align: bottom;
		}
	}
	h6 {
		font-size: 17px;
		font-weight: 600;
		color: $color_76;
	}
	p.n-p-views-count {
		font-size: 46px;
		font-weight: 600;
		color: $primary;
		i {
			color: $color_55;
			font-size: 38px;
		}
	}
	p.n-p-weekend-calc {
		font-size: 16px;
		font-weight: 600;
		color: $color_76;
	}
	p.n-p-conversions {
		font-size: 46px;
		font-weight: 600;
		color: $primary;
		i {
			color: $color_55;
			font-size: 38px;
		}
	}
	p.n-p-t-c-weekend-calc {
		font-size: 16px;
		font-weight: 600;
		color: $color_76;
	}
}
