/*
    Top Sales Person
*/
.top-sales-person.widget-card {
	.media {
		padding: 10px 20px 0 20px;
		img {
			width: 55px;
		}
		.media-body {
			h5 {
				color: $black;
				font-size: 18px;
			}
			.t-s-p-social-media {
				i {
					font-size: 17px;
					margin-right: 4px;
				}
			}
		}
	}
	.progress {
		font-size: 17px;
		margin-right: 5px;
		border-radius: 30px;
		margin-top: 8px;
		height: 6px;
		.progress-bar {
			border-radius: 30px;
			background-color: $info !important;
		    border-color: $info !important;
		}
	}
	.t-s-p-rating {
		color: $black;
		font-size: 17px;
	}
	.t-s-p-profile-stats {
		.t-s-p-profile-stats-txt {
			color: $black;
			word-wrap: break-word;
		}
		.t-s-p-profile-stats-value {
			color: $black;
			font-size: 17px;
		}
	}
}
