/*
    Total Services
*/
#total-services {
	h6 {
		font-weight: 600;
		color: $additional-color-11;
		font-size: 20px;
	}
	.t-s-stats {
		color: $additional-color-6;
		font-size: 21px;
	}
	.t-s-profit-price {
		font-size: 14px;
		color: $black;
		span {
			font-weight: 600;
		}
		i {
			color: $success;
		}
	}
	#t-services-chart {
		.ct-grid {
			stroke: transparent;
		}
		.ct-series-a {
			.ct-bar {
				stroke: $primary;
				stroke-width: 6px;
			}
		}
		.ct-series-b {
			.ct-bar {
				stroke: $primary;
				stroke-width: 6px;
			}
		}
	}
}
