/*
  Total Likes  
*/
.t-likes {
	padding: 30.2px 20px;
	p {
		font-size: 15px;
		color: $color_57;
	}
	h5 {
		font-size: 43px;
		color: #1d1d1d;
	}
	i {
		font-size: 44px;
		vertical-align: middle;
		color: $primary;
	}
}
/*
  Total shares
  
*/
.t-shares {
	padding: 30.2px 20px;
	p {
		font-size: 15px;
		color: $additional-color-5;
	}
	h5 {
		font-size: 43px;
		color: #1d1d1d;
	}
	i {
		font-size: 44px;
		vertical-align: middle;
		color: $additional-color-5;
	}
}
/*

  Total comments
  
*/
.t-comments {
	padding: 30.2px 20px;
	p {
		font-size: 15px;
		color: $color_55;
	}
	h5 {
		font-size: 43px;
		color: #1d1d1d;
	}
	i {
		font-size: 44px;
		vertical-align: middle;
		color: $color_55;
	}
}
