/*
    Total Visits
*/
.total-visits {
	padding: 16px 0px;
	.t-v-value {
		font-size: 28px;
		color: $color_76;
	}
	.t-v-txt {
		font-size: 14px;
		font-weight: 600;
		color: $additional-color-11;
		i {
			color: $success;
			font-size: 17px;
			vertical-align: middle;
		}
	}
	.total-visits-charts {
		font-size: 11px;
		canvas {
			float: right;
		}
	}
}
/*
    Unique Visits
*/
.unique-visits {
	padding: 16px 0px;
	.u-v-value {
		font-size: 28px;
		color: $color_76;
		i {
			color: $info;
			font-size: 14px;
			font-weight: 600;
			vertical-align: middle;
		}
	}
	.u-v-txt {
		font-size: 14px;
		font-weight: 600;
		color: $additional-color-11;
	}
}
#unique-visits-charts {
	canvas {
		float: right;
	}
}
/*
    Page Views
*/
.page-views {
	padding: 16px 0px;
	.p-v-value {
		font-size: 28px;
		color: $color_76;
		i {
			color: $dark;
			font-size: 14px;
			font-weight: 600;
			vertical-align: middle;
		}
	}
	.p-v-txt {
		font-size: 14px;
		font-weight: 600;
		color: $additional-color-11;
	}
	#page-views {
		font-size: 11px;
		canvas {
			float: right;
		}
	}
}
