
//	=================
//    	Imports
//	=================

@import '../../base/color_variables';   	// Color Variables
@import '../../base/fonticons';   			// Fonticons Variables
@import '../../base/urls';   				// URLS Variables
@import '../../base/utilities_variables';  // Utilities Variables

/*
    CMS Search
*/
.cms-search {
	form {
		position: $pos-rel;
		input {
			padding: 6px 16px;
			color: $color_38;
			&:focus {
				border-color: $color_38;
			}
			&::-webkit-input-placeholder {
				color: $color_450;
			}
			&::-moz-placeholder {
				color: $color_450;
			}
			&:-ms-input-placeholder {
				color: $color_450;
			}
			&:-moz-placeholder {
				color: $color_450;
			}
		}
		button {
			border-radius: 50%;
			padding: 7px 11px;
			position: $pos-abs;
			right: 0px;
			top: 0;
		}
	}
}
/*
  Country
*/
.country-search {
	form {
		position: $pos-rel;
		input {
			padding: 6px 16px;
			color: $color_38;
			&:focus {
				border-color: $color_38;
			}
			&::-webkit-input-placeholder {
				color: $color_450;
			}
			&::-moz-placeholder {
				color: $color_450;
			}
			&:-ms-input-placeholder {
				color: $color_450;
			}
			&:-moz-placeholder {
				color: $color_450;
			}
		}
		button {
			border-radius: 50%;
			padding: 7px 11px;
			position: $pos-abs;
			right: 0px;
			top: 0;
		}
	}
}
/*
  Filtered List Search
*/
.filtered-list-search {
	margin-top: $m-60;
	margin-bottom: 74px;
	form {
		>div {
			position: $pos-rel;
		}
		input {
			padding: 6px 16px;
			color: $color_38;
			&:focus {
				border-color: $color_38;
			}
			&::-webkit-input-placeholder {
				color: $color_450;
			}
			&::-moz-placeholder {
				color: $color_450;
			}
			&:-ms-input-placeholder {
				color: $color_450;
			}
			&:-moz-placeholder {
				color: $color_450;
			}
		}
		button {
			border-radius: 50%;
			padding: 7px 11px;
			position: $pos-abs;
			right: 0px;
			top: 0;
		}
	}
}
.searchable-container {
	.media {
		img {
			border-radius: 50%;
			width: 58px;
		}
		p {
			font-size: 15px;
			font-weight: 600;
			color: $color_76;
			margin-bottom: 3px;
		}
		.badge {
			padding: 5px 13px;
		}
	}
	.meta-delete {
		i {
			vertical-align: $v-align-middle;
			background-color: $light-primary;
			padding: 12px;
			border-radius: 50%;
			color: $primary;
			font-size: 18px;
			cursor: pointer;
			&:hover {
				color: $danger;
				background-color: $light-danger;
			}
		}
	}
}
