
//	=================
//    	Imports
//	=================

@import '../../base/color_variables';   	// Color Variables
@import '../../base/fonticons';   			// Fonticons Variables
@import '../../base/urls';   				// URLS Variables
@import '../../base/utilities_variables';  // Utilities Variables

.web-search {
	[class^="flaticon-"] {
		font-size: 22px;
	}
	[class*=" flaticon-"] {
		font-size: 22px;
	}
	h5 {
		color: $additional-color-5;
		font-size: 17px;
	}
	p {
		color: $additional-color-11;
		font-size: 13px;
	}
	.media {
		margin-top: 24px;
	}
	.media-body {
		overflow: visible;
		position: $pos-rel;
		color: $color_76;
		margin-bottom: 40px;
		word-break: break-word;
	}
	.list-inline {
		>li {
			padding-left: $p-0;
			padding-right: $p-20;
			font-size: 13px;
		}
	}
}
.text-primary {
	color: $additional-color-11 !important;
	font-size: 1.125rem;
}
a.text-primary {
	&:hover {
		color: $color_57 !important;
	}
}
.form-control {
	color: $additional-color-6;
	border: 1px $solid $color_622;
}
hr {
	margin-bottom: 0px;
	border-top: 1px $solid $light-gray;
	margin-top: 0px;
}
.nav-tabs {
	border-bottom: 1px $solid $light-gray-3;
	margin-top: 2px;
}
.media {
	.media-body {
		.media-heading {
			margin-bottom: $m-10;
			color: $color_56;
		}
		.pagination {
			display: inline-block;
		}
	}
}
.text-success {
	color: $color_56 !important;
	font-size: 13px;
	font-weight: 600;
}
.nav-tabs.custom-tabs {
	>li {
		position: $pos-rel;
		display: block;
		float: left;
		margin-bottom: -1px;
		>a {
			position: $pos-rel;
			display: inline-block;
			color: $additional-color-6;
			font-size: 16px;
			padding: $p-10 15px;
			border: 1px $solid $color_none;
			span {
				float: right;
			}
		}
		&:hover {
			color: $color_451;
			cursor: default;
			background-color: $white;
			border: $b-width-1 $solid $color_57;
			border-bottom-color: $color_57;
			border-top-color: $color_none;
			border-left-color: $color_none;
			border-right-color: $color_none;
			>a {
				color: $color_57;
				border: 0px $solid #ddd;
			}
		}
	}
	>li.current {
		color: $color_451;
		cursor: default;
		background-color: $white;
		border: $b-width-1 $solid $color_57;
		border-bottom-color: $color_57;
		border-top-color: $color_none;
		border-left-color: $color_none;
		border-right-color: $color_none;
		>a {
			color: $color_57;
			border: 0px $solid #ddd;
		}
	}
}
.custom-tab-pane {
	display: none;
}
#web {
	display: block;
}
.panel {
	margin-bottom: $m-20;
	background-color: $white;
}
.panel-body {
	padding: 15px;
}
.btn {
	padding: 0.45rem 1.375rem;
}
input[type=text] {
	&:focus {
		border-color: $color_103;
	}
}
.text-size-small {
	font-size: 13px;
	color: $additional-color-6 !important;
	margin-top: $m-30;
}
.content-group {
	padding-left: $p-0;
	margin-bottom: $m-20 !important;
}
.media-heading {
	margin-bottom: 2px;
	display: block;
	a {
		color: $color_57;
		font-size: 17px;
	}
}
.search-results-list {
	.list-inline {
		margin-bottom: $m-5;
	}
}
.list-inline {
	margin-left: $m-5;
	font-size: 0;
	>li {
		&:last-child {
			padding-right: $p-0;
			position: $pos-rel;
		}
	}
}
.list-inline-separate {
	>li {
		display: inline-block;
		position: $pos-rel;
		padding-right: 18px;
		color: $color_116;
	}
}
.right-list-inline {
	>li {
		float: left;
	}
}
.text-warning-300 {
	color: $color_294 !important;
}
.text-size-base {
	font-size: 13px;
}
.website-search-results {
	padding: 28px $p-20 0;
	border-bottom: $b-width-1 $solid $color_200;
}
.strong {
	font-weight: 600;
}
#lightbox {
	.modal-content {
		display: inline-block;
		text-align: $align-center;
	}
	.close {
		opacity: 1;
		color: $white;
		background-color: $color_375;
		border-radius: 50%;
		border: 2px $solid $white;
		position: $pos-rel;
		top: 17px;
		left: 8px;
		z-index: 999;
		i {
			font-size: 26px;
		}
	}
}
.modal-dialog {
	width: 432px;
}
.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 15px;
	line-height: 1.42857143;
	background-color: $white;
	border: $b-width-1 $solid $color_6;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}
#image {
	div.thumbnail {
		img {
			width: 100%;
		}
	}
}
.caption {
	padding: $p-20;
}
.fa-size-lg {
	font-size: 40px !important;
}
.blockquote-box.blockquote-info {
	border-color: $additional-color-7;
	.square {
		background-color: $additional-color-7;
		margin-top: 36px;
		color: $white;
	}
}
.blockquote-box {
	.square {
		width: 72px;
		padding: $p-20 0;
		min-height: 50px;
		margin-right: 12px;
		background-color: $light-gray;
		text-align: $align-center !important;
		border-radius: 6px;
	}
	.square.square-video {
		width: 160px;
		padding: 0px;
		cursor: pointer;
	}
}
.blockquote-box.blockquote-primary {
	border-color: $additional-color-2;
	.square {
		background-color: $additional-color-2;
		color: $white;
	}
}
.blockquote-box.blockquote-danger {
	border-color: $color_56;
	.square {
		background-color: $color_56;
		color: $white;
	}
}
.blockquote-box.blockquote-default {
	border-color: $color_452;
	.square {
		background-color: $color_84;
		color: $white;
	}
}
.blockquote-box.blockquote-dribble {
	border-color: $color_374;
	.square {
		background-color: $additional-color-3;
		color: $white;
	}
}
.media-list {
	.glyphicon-play-circle {
		font-size: 35px;
		opacity: 1;
		left: 58px;
		line-height: 13px;
		padding: 2px 3px 1px;
		position: $pos-abs;
		top: 38px;
		color: $white;
		text-shadow: 0 1px 3px rgba(0,0,0,.5);
		-webkit-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;
	}
	.duration {
		background-color: $color_244;
		border-radius: 2px;
		color: $white;
		font-size: 11px;
		font-weight: bold;
		left: 12px;
		line-height: 13px;
		padding: 2px 3px 1px;
		position: $pos-abs;
		top: 12px;
		-webkit-transition: all 500ms ease;
		transition: all 500ms ease;
	}
}
.square {
	>img.thumbnail {
		margin-bottom: $m-0;
	}
}
.trending {
	margin-bottom: 26px;
}
#custom-map {
	position: $pos-rel;
	width: 100%;
	height: 430px;
}
ul.pagination {
	li {
		a.active {
			background-color: $color_47;
			color: $white;
			border-radius: 2px;
			border-color: $color_47;
		}
		a {
			&:hover {
				&:not(.active) {
					background-color: $warning;
					border-radius: 2px;
					color: $white;
				}
			}
		}
	}
}
@media (min-width: 320px) and (max-width: 479px) {
	.modal-dialog {
		width: auto;
		margin: $m-30;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.modal-dialog {
		width: auto;
		margin: $m-60;
	}
}
