
//	=================
//    	Imports
//	=================

@import '../../base/color_variables';   	// Color Variables
@import '../../base/fonticons';   			// Fonticons Variables
@import '../../base/urls';   				// URLS Variables
@import '../../base/utilities_variables';  // Utilities Variables

body.maintanence {
	background-color: $white;
	>.maintanence-content {
		min-height: 90vh;
		display: flex;
		align-items: $align-center;
		justify-content: $align-center;
		text-align: $align-center;
		padding: $p-30;
	}
}
.maintanence {
	.error-title {
		margin-top: 65px;
		color: $additional-color-2;
		font-weight: 600;
		font-size: 34px;
	}
	.error-text {
		font-size: 20px;
		margin-top: $m-40;
		color: $black;
	}
	a.btn {
		width: 134px;
		padding: 6px;
		font-size: 19px;
	}
	.text {
		color: $color_2;
	}
}
