/*
    Procut-catalog 8
*/
.product-cat8 {
	.card {
		height: 473px;
		border: none;
		background: $additional-gradient-color-65;
	}
	.product_inner {
		p {
			color: $white;
			font-size: 15px;
			margin-bottom: 6px;
		}
		button {
			border: $b-width-2 $solid $warning;
			color: $white;
			border-radius: $br-30;
			padding: $br-10 16px;
			margin: $m-20 $m-0 $m-0 $m-0;
			background: none;
			cursor: pointer;
			-webkit-transition: background ease-in .25s;
			transition: background ease-in .25s;
			&:hover {
				background: $warning;
				color: $white;
				box-shadow: $shadow-5;
				will-change: opacity, transform;
				transition: all 0.3s ease-out;
				-webkit-transition: all 0.3s ease-out;
				&:before {
					color: $color_401;
				}
			}
		}
	}
}
