/*
    Procut-catalog 7
*/
.product-cat7 {
	.card {
		height: 473px;
		border: none;
	}
	img {
		width: 100%;
		height: 320px;
	}
	.hoverable-content {
		position: $pos-abs;
		bottom: 6px;
		right: 20px;
		left: 20px;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(0,50px,0);
		transform: translate3d(0,50px,0);
		.add-to-wishlist {
			p {
				width: 26px;
				height: 26px;
				padding: 4px;
				color: $white;
				background-color: $color_294;
				border-radius: 50%;
				cursor: pointer;
				box-shadow: $shadow-5;
				will-change: opacity, transform;
				transition: all 0.3s ease-out;
				-webkit-transition: all 0.3s ease-out;
			}
		}
		.add-to-cart {
			button.btn {
				background-color: $color_56;
				border-radius: $br-20;
				color: $color_146;
				box-shadow: none;
				font-size: 11px;
				padding: 7px;
				box-shadow: $shadow-5;
				will-change: opacity, transform;
				transition: all 0.3s ease-out;
				-webkit-transition: all 0.3s ease-out;
			}
		}
		.product-zoom {
			p {
				width: 26px;
				height: 26px;
				padding: 3px;
				color: $white;
				background-color: $additional-color-7;
				border-radius: 50%;
				cursor: pointer;
				box-shadow: $shadow-5;
				will-change: opacity, transform;
				transition: all 0.3s ease-out;
				-webkit-transition: all 0.3s ease-out;
			}
		}
	}
	&:hover {
		.hoverable-content {
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
	}
	.card-cat {
		color: $additional-color-6;
		font-size: 14px;
		margin-top: -6px;
	}
	.card-title {
		color: $additional-color-2;
		font-size: 19px;
		font-weight: 600;
		text-transform: $transform-capital;
		margin-top: 23px;
	}
	.card-pricing {
		color: $color_43;
		font-size: 18px;
		margin-top: -4px;
		font-weight: 600;
	}
}
