//	===============================
//			@Import	Fonticons
//	===============================

$font_family_1: flaticon;
$font_family_2: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_family_3: "Segoe UI", "Open Sans", sans-serif, serif;
$font_family_4: 'Montserrat', sans-serif;
$font_family_5: 'Lato', Calibri, Arial, sans-serif;
$font_family_6: helvetica, verdana, sans-serif;
$font_family_7: "Oswald", sans-serif;
$font_family_8: sans-serif;

$font_family_9: arial, sans-serif;
$font_family_10: icon;
$font_family_11: courier, Bitstream Vera Sans Mono, Consolas, Courier, monospace;
$font_family_12: "Courier New", Courier, monospace;
$font_family_13: monospace;
$font_family_14: "Lucida Console", Monaco, monospace;
$font_family_15: 'Roboto Condensed', sans-serif;
$font_family_16: "Nunito", sans-serif;

$font_family_17: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_family_18: serif;







