/*  Creative Accordion   3    */
.creative3-accordion-content {
	#creative3Accordion {
		.card {
			background-color: $color_140;
			color: $white;
			border: none;
			border-radius: 6px;
			border-top: $b-width-1 $solid $color_140;
			margin-bottom: 3px;
			&:last-child {
				border-bottom: $b-width-1 $solid $light-gray;
			}
		}
	}
	.card-header {
		color: $white;
		border: none;
		h5 {
			>span {
				padding: 1.35rem 1.25rem;
				color: $additional-color-11;
			}
			.icon {
				display: inline;
				padding: 11px;
				background-color: $color_138;
				margin-right: 20px;
				color: $white;
			}
		}
	}
	.card.c-1 {
		background-color: $additional-color-11 !important;
		color: $white;
		.card-header {
			h5 {
				>span {
					color: $white;
				}
			}
		}
	}
	#creative3CollapseOne {
		.card-body {
			h4 {
				color: $additional-color-5;
			}
			color: $additional-color-11;
			background-color: $white;
		}
	}
	#creative3CollapseThree {
		.card-body {
			h4 {
				color: $additional-color-5;
			}
			color: $additional-color-11;
			background-color: $white;
		}
	}
	#creative3CollapseTwo {
		.card-body {
			color: $additional-color-11;
			background-color: $white;
		}
	}
}
