/*
    Social Card 3
*/
#social-card-3.card {
	border: none;
	background-color: $light-primary;
	padding: 40px 25px;
	.media {
		i {
			color: $primary;
			font-size: 65px;
		}
		.media-body {
			h5 {
				color: $primary;
			}
			p {
				color: $primary;
				font-size: 25px;
				i {
					color: $primary;
					font-size: 50px;
					vertical-align: $v-align-sub;
					margin-left: 10px;
				}
			}
			button {
				border: $b-width-2 $solid $primary !important;
				color: $primary !important;
				font-size: 16px;
				&:hover {
					border: $b-width-1 $solid $primary !important;
					color: $white !important;
					background-color: $primary !important;
				}
			}
		}
	}
}
