/*
    Social Card 4
*/
#social-card-4.card {
	border: none;
	padding: 20px;
	color: $white;
	.card-body {
		i {
			font-size: 38px;
			color: $info;
		}
		p.tweet {
			font-size: 27px;
			color: $color_51;
		}
		.usr-img-meta {
			img {
				width: 110px;
			}
			p {
				color: $color_51;
				font-size: 21px;
				margin-top: 45px;
			}
			p.usr-location {
				font-size: $fs-16;
				margin-top: $m-0;
				color: $additional-color-11;
				i {
					font-size: $fs-16;
					color: $additional-color-11;
				}
			}
		}
		button {
			i {
				font-size: 15px;
				color: $color_53;
			}
		}
	}
}




