/*
    User card 1
*/
.card-widget-content {
    background-color: $color_none;
    height: 100%;
}
#user-profile-card-1.card {
    border: none;
    padding: 40px 20px 40px 20px;
    height: 100%;
    border-radius: 0;
}
#user-profile-card-1 {
    .card-body {
        .usr-img-meta {
            position: $pos-rel;
            width: 128px;
            height: 128px;
            &:before {
                position: $pos-abs;
                content: "";
                padding: 10px;
                background-color: #1a73e9;
                border-radius: 50%;
                bottom: 104px;
                right: 8px;
                border: $solid $white;
            }
            img {
                width: 100%;
                height: 100%;
                border: 4px $solid #c2d5ff;
            }
        }
        .usr-info-meta {
            margin-top: 3rem;
            .usr-name {
                font-size: 25px;
                color: $color_76;
            }
            .usr-occupation {
                color: $additional-color-11;
                font-size: 15px;
            }
            button {
                background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
                border: none;
                font-size: 15px;
                margin-top: 4rem;
                padding: 10px 28px;
                box-shadow: 2px 2px 13px 1px rgb(164, 139, 217);
            }
        }
    }
}
