//  =================
//      Imports
//  =================

@import '../../../base/color_variables';    // Color Variables
@import '../../../base/fonticons';        // Fonticons Variables
@import '../../../base/urls';           // URLS Variables
@import '../../../base/utilities_variables';  // Utilities Variables

ol {
	list-style: none;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
q {
	&:before {
		content: '';
	}
	&:after {
		content: '';
	}
}
em {
	font-style: italic;
}
.italic {
	font-style: italic;
}
.aligncenter {
	display: block;
	margin: $m-0 auto;
}
.alignleft {
	float: $align-left;
	margin: $m-10;
}
.alignright {
	float: $align-right;
	margin: $m-10;
}
.no-margin {
	margin: $m-0;
}
.no-bottom {
	margin-bottom: $m-0;
}
.no-padding {
	padding: $p-0;
}
.margin-t {
	margin-top: 25px;
}
.set-1 {
	ul {
		padding-left: $p-0;
		li {
			display: inline-block;
		}
	}
	a {
		position: $pos-rel;
		color: $white;
		text-decoration: none;
		display: block;
		-webkit-border-radius: $br-6;
		-moz-border-radius: $br-6;
		border-radius: $br-6;
		text-align: center;
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
		cursor: pointer;
		overflow: hidden;
		font: 0/0 a;
		text-shadow: none;
		color: $color_none;
		img {
			width: 2.5rem;
		}
		&:active {
			-webkit-transform: translate(0, 3px);
			-moz-transform: translate(0, 3px);
			-ms-transform: translate(0, 3px);
			transform: translate(0, 3px);
		}
	}
}
.set-2 {
	ul {
		padding-left: 0;
		li {
			display: inline-block;
		}
	}
	a {
		&:active {
			-webkit-transform: translate(0, 3px);
			-moz-transform: translate(0, 3px);
			-ms-transform: translate(0, 3px);
			transform: translate(0, 3px);
		}
		position: $pos-rel;
		color: $white;
		text-decoration: none;
		display: block;
		-webkit-border-radius: $br-6;
		-moz-border-radius: $br-6;
		border-radius: $br-6;
		font-size: 16px;
		padding: $p-0 15px $p-0 $p-0;
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
		img {
			width: 2.5rem;
		}
	}
}
a.twitter-small {
	-webkit-box-shadow: 0px 6px 0px $color_313;
	-moz-box-shadow: 0px 6px 0px $color_313;
	box-shadow: 0px 6px 0px $color_313;
	background: $info;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_313;
		-moz-box-shadow: 0px 2px 0px $color_313;
		box-shadow: 0px 2px 0px $color_313;
	}
}
a.twitter-big {
	-webkit-box-shadow: 0px 6px 0px $color_313;
	-moz-box-shadow: 0px 6px 0px $color_313;
	box-shadow: 0px 6px 0px $color_313;
	background: $info;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_313;
		-moz-box-shadow: 0px 2px 0px $color_313;
		box-shadow: 0px 2px 0px $color_313;
	}
}
a.facebook-small {
	-webkit-box-shadow: 0px 6px 0px $color_314;
	-moz-box-shadow: 0px 6px 0px $color_314;
	box-shadow: 0px 6px 0px $color_314;
	background: $primary;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_314;
		-moz-box-shadow: 0px 2px 0px $color_314;
		box-shadow: 0px 2px 0px $color_314;
	}
}
a.facebook-big {
	-webkit-box-shadow: 0px 6px 0px $color_314;
	-moz-box-shadow: 0px 6px 0px $color_314;
	box-shadow: 0px 6px 0px $color_314;
	background: $primary;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_314;
		-moz-box-shadow: 0px 2px 0px $color_314;
		box-shadow: 0px 2px 0px $color_314;
	}
}
a.pinterest-small {
	-webkit-box-shadow: 0px 6px 0px $color_315;
	-moz-box-shadow: 0px 6px 0px $color_315;
	box-shadow: 0px 6px 0px $color_315;
	background: $danger;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_315;
		-moz-box-shadow: 0px 2px 0px $color_315;
		box-shadow: 0px 2px 0px $color_315;
	}
}
a.pinterest-big {
	-webkit-box-shadow: 0px 6px 0px $color_315;
	-moz-box-shadow: 0px 6px 0px $color_315;
	box-shadow: 0px 6px 0px $color_315;
	background: $danger;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_315;
		-moz-box-shadow: 0px 2px 0px $color_315;
		box-shadow: 0px 2px 0px $color_315;
	}
}
a.gplus-small {
	-webkit-box-shadow: 0px 6px 0px $color_316;
	-moz-box-shadow: 0px 6px 0px $color_316;
	box-shadow: 0px 6px 0px $color_316;
	position: $pos-rel;
	background: $dark;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_316;
		-moz-box-shadow: 0px 2px 0px $color_316;
		box-shadow: 0px 2px 0px $color_316;
	}
}
a.gplus-big {
	-webkit-box-shadow: 0px 6px 0px $color_316;
	-moz-box-shadow: 0px 6px 0px $color_316;
	box-shadow: 0px 6px 0px $color_316;
	position: $pos-rel;
	background: $dark;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_316;
		-moz-box-shadow: 0px 2px 0px $color_316;
		box-shadow: 0px 2px 0px $color_316;
	}
}
a.dribbble-small {
	-webkit-box-shadow: 0px 6px 0px $color_317;
	-moz-box-shadow: 0px 6px 0px $color_317;
	box-shadow: 0px 6px 0px $color_317;
	background: $warning;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_317;
		-moz-box-shadow: 0px 2px 0px $color_317;
		box-shadow: 0px 2px 0px $color_317;
	}
}
a.dribbble-big {
	-webkit-box-shadow: 0px 6px 0px $color_317;
	-moz-box-shadow: 0px 6px 0px $color_317;
	box-shadow: 0px 6px 0px $color_317;
	background: $warning;
	&:active {
		-webkit-box-shadow: 0px 2px 0px $color_317;
		-moz-box-shadow: 0px 2px 0px $color_317;
		box-shadow: 0px 2px 0px $color_317;
	}
}
