/*
    ================
        Follow  
    ================
*/
#followusWrapper {
	background-color: $color_53;
	padding: 37px 0;
	p {
		color: $white;
		font-size: 18px;
	}
	ul {
		color: $white;
		font-size: 24px;
		font-weight: normal !important;
		li {
			i {
				-webkit-transition: all 0.35s ease;
				transition: all 0.35s ease;
				cursor: pointer;
				&:hover {
					-webkit-transform: translateY(-5px) scale(1.02);
					transform: translateY(-5px) scale(1.02);
				}
			}
		}
	}
}
