/*
    ======================
        Contact Us
    =======================
*/
#contactWrapper {
	padding: 65px 0 33px 0;
	border-top: $solid $b-width-1 $light-gray;
	h2.contact-title {
		font-size: 42px;
		color: $color_56;
		font-weight: 700;
		margin-bottom: 32px;
	}
	p.contact-text {
		font-size: 18px;
		color: $additional-color-11;
		font-weight: normal;
		margin: 35px 70px;
	}
	.contact-services {
		margin: 36px 0;
		i {
			font-size: 22px;
			border-radius: 50%;
		    background-color: $light-primary;
		    padding: $p-10;
		    border: $b-width-2 $solid $light-primary;
		    color: $primary;
			margin-bottom: $m-10;
			margin-top: $m-20;
		}
		p {
			margin: 0;
			color: $additional-color-11;
			font-weight: normal;
			font-size: 16px;
			margin-top: 5px;
			a {
				color: $additional-color-11;
				&:hover {
					color: $color_53;
					text-decoration: underline;
				}
			}
		}
	}
}
