/*
    ======================
        Features
    =======================
*/
h1 {
	font-size: 2.25rem;
	color: $black;
	font-weight: 600;
}
#featuresWrapper {
	padding: 145px 0 145px 0;
	h2 {
		color: $black;
		font-weight: 600;
	}
	p {
		color: $additional-color-6;
		font-weight: 600;
		font-size: 16px;
	}
	img {
		color: $black;
		font-weight: 600;
		width: 150px;
		height: 125px;
		margin-top: $m-40;
	}
	h3.features-title {
		color: $black;
		font-weight: 600;
		margin-top: $m-60;
		margin-bottom: 24px;
		font-size: 1.5rem;
	}
	p.features-text {
		color: $additional-color-11;
		font-size: 17px;
		font-weight: normal;
		margin: 30px 60px;
		padding-bottom: 64px;
		border-bottom: $b-width-1 $solid $color_6;
	}
}
