$color_1: #707792;
$color_2: #6156ce;
$color_3: #16181b;
$color_4: #5247bd;
$color_5: #fff;
$color_6: #6c757d;
$color_7: #000;
$color_8: #4f5163;
$color_9: #888da8;
$color_10: #3232b7;
$color_11: #aaa;
$color_12: #bcbcbc;
$color_13: #3862f5;
$color_14: #212529;
$color_15: #e7515a;
$color_16: #181722;
$color_17: unquote('#0101565e');
$color_18: #555;
$color_19: #3b3f5c;
$color_20: #f8538d;
$color_21: transparent;
$color_22: #fcfdfe;
$color_23: #18d17f;
$color_24: #dedfdf;
$color_25: #ddd;
$color_26: #e1e1e1;
$color_27: #e9ecef;
$color_28: #fff;
$color_29: #8c8b8b;
$color_30: #e0d4d5;
$color_31: #beb3b6;
$color_32: #707792;
$color_33: #888ea8;
$color_34: #7a7a7a;
$color_35: #1f212d;
$color_36: #2b293d;
$color_37: #322c35;
$color_38: #888ea8;
$color_39: #fff;
$color_40: #7a7a7a;
$color_41: #e9b02b;
$color_42: #07e0c4;
$color_43: #9960ea;
$color_44: #25d5e4;
$color_45: #f2f6f9;
$color_46: #848383;
$color_47: #282828;
$color_48: #00d1c1;
$color_49: #ffffff;
$color_50: #515365;
$color_51: #d3d3d3;
$color_52: #000000;
$color_53: #ee3d50;
$color_54: #6424c9;
$color_55: #1d1d1d;
$color_56: #fbccdd;
$color_57: #292938;
$color_58: #fefefe;
$color_59: #494949;
$color_60: #1a73e9;
$color_61: #816cfd;
$color_62: #f5f4fb;
$color_63: #5c1ac3;
$color_64: #5348be;
$color_65: #5c52c2;
$color_66: #9297af;
$color_67: #1a74e9;
$color_68: #1b1c36;
$color_69: #f4f4f4;
$color_70: #989ebf;
$color_71: #1abc9c;
$color_72: #00b1f4;
$color_73: #acb0c3;
$color_74: rgb(211, 211, 211);
$color_75: #c2d5ff;
$color_76: #f1f3f1;
$color_77: #ff6f00;
$color_78: #212121;









