/*
    Vertical Rounded Circle With Icon
*/
.rounded-circle-vertical-pills-icon {
	.nav-pills {
		a {
			background-color: $white;
			border: solid 1px #e4e2e2;
			padding: 20px 20px;
			border-radius: 50%;
			height: 58px;
			width: 60px;
			padding: 19px;
			max-width: 80px;
			min-width: auto;
			i {
				display: block;
				text-align: center;
				line-height: 19px;
			}
		}
		.nav-link.active {
			box-shadow: $shadow-10;
			background-color: $color_51;
			border-color: $color_none;
		}
		.show {
			>.nav-link {
				box-shadow: $shadow-10;
				background-color: $color_51;
				border-color: $color_none;
			}
		}
	}
}
