/*
    Vertical Border Tab
*/
.vertical-border-pill {
	.nav-pills {
		width: 92px;
		a {
			padding-top: 15px;
			padding-bottom: 15px;
			position: $pos-rel;
		}
		.nav-link {
			padding: .5rem 0;
			border: $b-width-1 $solid $color_142;
			border-radius: 0;
			border-bottom: none;
			&:last-child {
				border-bottom: $b-width-1 $solid $color_142;
			}
		}
		.nav-link.active {
			position: $pos-rel;
			color: $white;
		}
		.show {
			>.nav-link {
				position: $pos-rel;
				color: $white;
			}
		}
	}
}
