/*
    ======================
        Our Thoughts
    =======================
*/
.newsletter {
	#ourthoughtsWrapper {
		h2 {
			font-weight: 600;
			color: $additional-color-2;
			margin-top: 75px !important;
			margin-bottom: 28px;
		}
		p {
			font-size: 17px;
			color: $additional-color-11;
			margin: 0 66px;
		}
		h3 {
			color: $color_56;
			margin-top: 62px !important;
			margin-bottom: 15px;
			font-size: 1.5rem;
		}
		h4 {
			color: $color_167;
			font-size: 16px;
			margin: 0 58px;
			line-height: 1.4;
			text-transform: inherit;
		}
	}
}
