/*
    Card 4
*/

#card-4 {
	padding: 35px 13px;
	color: $primary;
    background-image: linear-gradient(-20deg, #c2d5ff 0%, #bae7ff 100%);
	.card-img-container {
		background-color: $primary;
		width: 70px;
		padding: 14px;
		border-radius: 50%;
	}
	.card-title {
		font-weight: 600;
		margin-bottom: -6px;
		font-size: 15px;
	}
	.card-text {
		padding-left: 5px;
		font-size: 14px;
	}
	.card-pricing {
		font-size: 36px;
		letter-spacing: 3px;
		padding-left: 5px;
		.card-pricing-unit {
			font-size: 20px;
		}
		.card-pricing-decimal {
			font-size: 20px;
		}
	}
	.card-rating {
		font-size: 15px;
		padding-left: 5px;
		p {
			display: inline;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 2px;
		}
		i {
			font-size: 20px;
			vertical-align: $v-align-middle;
		}
	}
}
