/*
    Social Card 5
*/
#social-card-5.card {
	border: none;
	.card-top-section {
		position: relative;
		background: $white $url_4 no-repeat center center;
		background-size: cover;
		padding: 90px 40px;
		border-bottom-left-radius: 0!important;
	    border-bottom-right-radius: 0!important;
		.usr-profile-meta {
			position: absolute;
			bottom: -33px;
			right: 24px;
			img {
				width: 60px;
			}
		}
	}
	.card-body {
		padding: 17px 28px;
		.card-bottom-section {
			.tweet {
				p {
					color: $additional-color-11;
					font-weight: 600;
					span.t-symbol {
						color: $primary;
						font-weight: 600;
					}
				}
				p.meta-time {
					color: $primary;
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
	}
}
