/*
    User Profile Card 6
*/
.card#user-profile-card-6 {
    border: none;
    .card-body {
        padding: 42px 10px 15px 10px;
        .usr-meta {
            img {
                width: 72px;
            }
            p.usr-name {
                font-size: 18px;
                font-weight: 600;
                color: $additional-color-11;
            }
        }
        .usr-activities {
            p {
                color: $additional-color-11;
                font-weight: 600;
            }
            h6 {
                color: $additional-color-11;
                font-weight: 600;
                font-size: 22px;
            }
            button {
                padding: 5px 18px;
                background-color: $additional-color-11;
            }
        }
    }
    .usr-posts {
        h6 {
            color: $additional-color-11;
            font-weight: 600;
            font-size: 18px;
            padding: 0 30px;
        }
        .posts-thumbnails {
            img {
                width: 53px;
                border-radius: 3px;
                margin-left: 8px;
            }
        }
    }
}
