/*
    User Profile Card 3
*/
#user-profile-card-3.card {
	border: none;
	.card-header {
		background-color: $color_none;
		border-bottom-color: $light-gray;
		h6 {
			font-weight: 600;
			color: $color_76;
			font-size: 16px;
		}
		ul.badge-collapsed-img {
			li {
				img {
					width: 33px;
					height: 33px;
				}
			}
		}
		ul {
			li.badge-notify {
				position: $pos-rel;
				.notification {
					position: $pos-abs;
					top: -15px;
					right: -34px;
					.badge {
						font-size: 10px;
						padding: 5px 6px;
					    background-color: #c2d5ff;
					    color: #1a73e9;
					}
				}
			}
		}
	}
	.card-body {
		.usr-img-meta {
			img {
				width: 93px;
				height: 93px;
			}
		}
		.usr-info-meta {
			h5 {
				color: $additional-color-11;
				font-size: 21px;
				font-weight: 600;
			}
			p {
				color: #1a73e9;
				font-weight: 600;
			}
		}
		.profile-task-progress {
			.progress {
				width: 150px;
				height: 8px;
				border-radius: 30px;
				margin-top: 1.3rem;
				.progress-bar {
					border-radius: 30px;
				}
			}
		}
		.profile-task-percentage {
			.p-t-p-txt {
				font-size: 14px;
				font-weight: 600;
				color: #1a73e9;
			}
			.p-t-p-value {
				color: $additional-color-11;
				font-weight: 600;
			}
			.p-t-p-percentage {
				color: $success;
				font-weight: 600;
				font-size: 14px;
			}
		}
		button {
			padding: 5px 18px;
		}
	}
}
