/*
    User Profile 2
*/

#user-profile-card-2.card {
	border: none;
	height: 492px;
	.card-top-section {
		position: $pos-rel;
		background: $white $url_2 no-repeat center center;
		background-size: cover;
		padding: 90px 40px;
		border-bottom-left-radius: 0!important;
	    border-bottom-right-radius: 0!important;
		.usr-info-meta {
			position: $pos-abs;
			top: 30px;
			left: 25px;
			color: $white;
			font-weight: 600;
			font-size: 16px;
		}
		.usr-name {
			font-size: 19px;
			color: $white;
			font-weight: normal;
		}
		.usr-occupation {
			font-size: 16px;
			font-weight: normal;
			color: $white;
		}
		.usr-profile-meta {
			position: $pos-abs;
			bottom: -40px;
			left: 55px;
			img {
				width: 90px;
			}
		}
	}
	.card-body {
		padding: 0.9rem;
		.card-bottom-section {
			.col-md-6.tw {
				border-right: none;
			}
			.col-md-6.insta {
				border-right: none;
			}
			.social-container {
				padding: 20px 0;
				.s-media-fb {
					i {
						font-size: 27px;
						color: $color_57;
					}
					.s-media-count {
						font-size: 24px;
						font-weight: 600;
						color: $color_76;
					}
					.s-media-txt {
						font-size: 15px;
						color: $additional-color-11;
					}
				}
				.s-media-twitter {
					i {
						font-size: 27px;
						color: $color_57;
					}
					.s-media-count {
						font-size: 24px;
						font-weight: 600;
						color: $color_76;
					}
					.s-media-txt {
						font-size: 15px;
						color: $additional-color-11;
					}
				}
				.s-media-behance {
					i {
						font-size: 27px;
						color: $color_57;
					}
					.s-media-count {
						font-size: 24px;
						font-weight: 600;
						color: $color_76;
					}
					.s-media-txt {
						font-size: 15px;
						color: $additional-color-11;
					}
				}
				.s-media-insta {
					i {
						font-size: 27px;
						color: $color_57;
					}
					.s-media-count {
						font-size: 24px;
						font-weight: 600;
						color: $color_76;
					}
					.s-media-txt {
						font-size: 15px;
						color: $additional-color-11;
					}
				}
			}
		}
	}
}
