/*dynamic calendar*/
.date {
	background: $light-primary;
	padding: 25px 10px;
	color: $primary;
	border-top-right-radius: $br-0!important;
    border-bottom-right-radius: $br-0!important;
	#month {
		font-size: 23px;
	}
	#day {
		font-size: 45px;
		font-weight: 600;
	}
	#week {
		font-size: 23px;
	}
}
.time {
	padding: 0 10px;
	#hour {
		font-size: 50px;
		font-weight: 600;
		color: $additional-color-11;
	}
	#minut {
		font-size: 50px;
		font-weight: 600;
		color: $additional-color-11;
	}
	#date {
		font-size: 24px;
		color: $primary;
	}
}
