/* Weather Widget    */
.weather-widget {
	>div {
		&:first-child {
			padding: 20px;
		}
		&:last-child {
			padding: 20px;
		}
	}
	.w-location {
		font-weight: 600;
		color: $color_76;
		font-size: 18px;
	}
	.w-condition {
		font-size: 14px;
	}
	.w-temperature {
		font-size: 68px;
		color: $primary;
		.w-t-value {
			position: $pos-rel;
			&:before {
				content: "o";
				position: $pos-abs;
				font-size: 45px;
				right: -7px;
				top: -17px;
			}
		}
	}
	.w-icon-locator {
		i {
			font-size: 88px;
			color: $primary;
			font-size: 100px;
		}
	}
	.weather-stats {
		border-bottom: 1px solid #e9ecef;
		padding: 20px;
		i {
			font-size: 30px;
			vertical-align: middle;
		}
		.wind-speed {
			i {
				color: #3232b7;
			}
			span {
				color: $black;
			}
		}
		.stats {
			i {
				color: #3232b7;
			}
			span {
				color: $black;
			}
		}
		span {
			font-size: 15px;
		}
	}
	i.w-icon {
		font-size: 50px;
	}
	.w-temp {
		color: $additional-color-5;
		font-size: 18px;
		.w-temp-value {
			position: $pos-rel;
			&:before {
				content: "o";
				position: $pos-abs;
				font-size: 13px;
				right: -7px;
				top: -10px;
			}
		}
	}
}

.weather-calendar {
    background: $light-primary;
	.weather-grids.weather-mdl {
		text-align: center;
	}
	.weather-grids {
		h3 {
			font-size: 30px;
			color: $dark;
			font-weight: 100;
			line-height: 1.2;
		}
		h3.fri {
			color: $color_112;
			margin-top: 0.7em;
		}
		h2 {
			font-size: 2.5em;
			font-weight: 300;
			color: $dark;
		}
		h4 {
			font-size: 1em;
			color: $dark;
		}
	}
	.weather-bottom {
		text-align: center;
		margin-top: 2em;
		ul {
			li {
				color: $dark;
			}
			li.bg {
				background: #314277;
			}
		}
		h4 {
			font-size: 1em;
			color: $dark;
			font-weight: 100;
		}
		figure {
			margin: 0.5em auto;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			background-color: $white;
			line-height: 6.3;
		}
		h5 {
			font-size: 1.2em;
			color: $dark;
			font-weight: 600;
		}
		h6 {
			font-size: 1em;
			color: $dark;
			margin-top: 0.5em;
		}
	}
}
