/* 	Dropdown	*/
.m-o-dropdown-list {
	.media {
		&:first-child {
			border-top: none;
		}
		padding: 1.5rem;
		border-top: $b-width-1 $solid $color_6;
		.media-heading {
			span.dropdown-list {
				cursor: pointer;
				color: $additional-color-5;
				font-size: 22px;
				margin-top: -19px;
				a.dropdown-item {
					i {
						color: $additional-color-6;
						font-size: 20px;
					}
				}
			}
		}
	}
	.dropdown-menu {
		border-radius: 6px;
		min-width: 12rem;
		border: $b-width-1 $solid $light-gray;
		box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
	}
	.dropdown-item {
		font-size: 0.96rem;
		color: $additional-color-6;
		&:hover {
			color: $additional-color-5;
			text-decoration: none;
			background-color: $color_54;
		}
	}
}