/* 	Radio	*/
.m-o-radio {
	.media {
		&:first-child {
			border-top: none;
		}
		padding: 1.5rem;
		border-top: $b-width-1 $solid $color_6;
		.custom-radio {
			.custom-control-input {
				&:checked~.custom-control-label {
					&::before {
						background-color: $color_151;
					}
				}
			}
		}
	}
}
.custom-control-label {
	&::before {
		background-color: $color_38;
	}
}