/* 	Media Notation 	*/
.notation-text {
	.media {
		&:first-child {
			border-top: none;
		}
		padding: 1.5rem;
		border-top: $b-width-1 $solid $color_6;
		.media-body {
			.media-notation {
				a {
					color: $color_55;
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
	}
}