/* 	Stauts Indicators	*/

.m-o-status-indicator {
	.media.status-indicator {
		&:first-child {
			border-top: none;
		}
		padding: 1.5rem;
		border-top: $b-width-1 $solid $color_6;
		div.usr-img {
			position: $pos-rel;
			&:before {
				content: '';
				position: $pos-abs;
				display: block;
				right: 14px;
				top: -4px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				z-index: 5;
				border: $b-width-1 $solid $white;
			}
		}
		div.usr-img.img-rounded-circle {
			&:before {
				right: 25px;
				top: 0px;
				width: 10px;
				height: 10px;
			}
		}
		div.usr-img.online {
			&:before {
				background-color: $color_148;
			}
		}
		div.usr-img.offline {
			&:before {
				background-color: $color_149;
			}
		}
		div.usr-img.stand-by {
			&:before {
				background-color: $color_83;
			}
		}
	}
}