
//	=================
//    	Imports
//	=================

@import '../../base/color_variables';   	// Color Variables
@import '../../base/fonticons';   			// Fonticons Variables
@import '../../base/urls';   				// URLS Variables
@import '../../base/utilities_variables';  // Utilities Variables

.notifyjs-metro-base {
	position: $pos-rel;
	min-height: 52px;
	color: $color_422;
	.image {
		display: table;
		position: $pos-abs;
		height: auto;
		width: auto;
		left: 25px;
		top: 50%;
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		img {
			height: 40px;
		}
	}
	.text-wrapper {
		display: inline-block;
		vertical-align: $v-align-top;
		text-align: left;
		margin: $m-10 $m-10 $m-10 52px;
		clear: both;
		font-family: $font_family_3;
	}
	.title {
		font-size: 15px;
		font-weight: bold;
	}
	.text {
		font-size: 12px;
		font-weight: normal;
		vertical-align: $v-align-middle;
	}
}
