
//	=================
//    	Imports
//	=================

@import '../../base/color_variables';   	// Color Variables
@import '../../base/fonticons';   			// Fonticons Variables
@import '../../base/urls';   				// URLS Variables
@import '../../base/utilities_variables';  // Utilities Variables

#notify-holster {
	position: $pos-fix;
	top: 15px;
	right: -14px;
	width: 100%;
	max-width: 350px;
	z-index: 99999998;
	font-family: $font_family_2;
}
.notify {
	position: $pos-rel;
	right: -360px;
	top: 15px;
	margin-bottom: $m-20;
	width: 100%;
	-webkit-border-radius: $br-4;
	-moz-border-radius: $br-4;
	border-radius: $br-4;
	-webkit-box-shadow: $shadow-37;
	box-shadow: $shadow-37;
	opacity: 0;
	z-index: 99999999;
	border: $b-width-1 $solid;
	&:last-child {
		margin-bottom: $m-0;
	}
	#notify-wrapper {
		position: $pos-rel;
	}
	.notify-body {
		padding: 15px;
		font-size: 13px;
		min-height: 54px;
		-webkit-border-radius: $br-4;
		-moz-border-radius: $br-4;
		border-radius: $br-4;
		.notification-body-icon {
			float: left;
			width: 64px;
			height: 54px;
			margin-right: $m-10;
			vertical-align: $v-align-middle;
			display: inline-block;
			position: $pos-rel;
			text-align: $align-center;
			font-size: 32px;
			i {
				position: $pos-abs;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.notify-body-title {
			display: block;
			font-weight: 700;
		}
	}
	.notify-action-buttons {
		width: 16px;
		display: inline-block;
		position: $pos-abs;
		top: 2px;
		right: 2px;
		.notify-square-button {
			background-position: $align-center;
			background-size: 8px;
			background-repeat: no-repeat;
			display: block;
			height: 16px;
			width: 16px;
		}
		.notify-square-button.notify-close-button {
			display: block;
			width: 16px;
			height: 16px;
			background-image: $url_19;
		}
	}
}
.notify.notify-default {
	background-color: $color_57;
	border: $b-width-1 $solid $color_57;
	color: $white;
	box-shadow: $shadow-7;
}
.notify.notify-with-icon {
	.notify-body {
		.notify-body-text {
			padding-left: 74px;
		}
	}
}
.notify.notify-success {
	background-color: $success;
	border-color: $success;
	.notify-body {
		color: $white;
		* {
			color: $white;
		}
	}
	.notify-action-buttons {
		.notify-square-button.notify-close-button {
			background-image: $url_19;
		}
	}
}
.notify.notify-error {
	background-color: $danger;
	border-color: $danger;
	.notify-body {
		color: $white;
		* {
			color: $white;
		}
	}
	.notify-action-buttons {
		.notify-square-button.notify-close-button {
			background-image: $url_19;
		}
	}
}
.notify.notify-info {
	background-color: $info;
	border-color: $info;
	.notify-body {
		color: $white;
		* {
			color: $white;
		}
	}
	.notify-action-buttons {
		.notify-square-button.notify-close-button {
			background-image: $url_19;
		}
	}
}
