/*---------------Middle Section-------------*/
.card.post-editor {
	.card-body {
		ul.nav.nav-pills {
			border-bottom: $b-width-1 $solid $color_6;
			li {
				a {
					padding: 23px;
					padding-right: 26px;
					color: $additional-color-6;
					border-right: none;
					i {
						font-size: 22px;
						vertical-align: $v-align-middle;
						margin-right: 7px;
					}
				}
			}
		}
		li.nav-item {
			.nav-link.active {
				background-color: $color_none;
				color: $color_56;
			}
			.show {
				>.nav-link {
					background-color: $color_none;
					color: $color_56;
				}
			}
		}
		div.tab-content {
			padding: 23px;
			.tab-pane {
				form {
					.media {
						img {
							border-radius: 50%;
							width: 50px;
						}
						.media-body {
							.form-group {
								textarea {
									border: none;
								}
							}
						}
					}
				}
			}
		}
		div.editor-bottom-section {
			padding: $p-20 $p-20 $p-10 $p-20;
			ul.editor-options {
				li {
					margin-left: $m-10;
					i {
						font-size: 20px;
						color: $additional-color-6;
						vertical-align: -webkit-baseline-middle;
					}
				}
			}
		}
	}
}
.post-section {
	.card.post {
		.card-body {
			padding: $p-0;
		}
		/*  User Meta */
		.media.user-meta {
			padding: $p-20;
			img {
				width: 50px;
				border-radius: 50%;
			}
			.media-body {
				h4 {
					font-weight: 600;
					color: $color_228;
					margin-bottom: 3px;
					font-size: 1.125rem;
				}
				p {
					font-size: 12px;
					margin-top: 5px;
				}
			}
		}
		/*      Action Options      */
		ul.action-options {
			padding: 15px $p-30;
			border-top: $b-width-1 $solid $color_6;
			border-bottom: $b-width-1 $solid $color_6;
			li {
				padding-right: 27px;
				font-size: 15px;
			}
		}
		/*      People Liked Post    */
		div.people-liked-post {
			ul {
				li {
					img {
						width: 40px;
						height: 40px;
						border-radius: 20px;
						border: $b-width-2 $solid $white;
						box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.3);
						margin-left: -21px;
					}
				}
			}
			.people-liked-post-name {
				span {
					vertical-align: -webkit-baseline-middle;
					font-size: 13px;
					a {
						color: $color_57;
						font-weight: 600;
					}
				}
			}
		}
		/*      User Comments    */
		.media.usr-comments {
			padding: 20px 22px;
			background-color: $color_54;
			img {
				border-radius: 50%;
				width: 45px;
			}
			.media-body {
				input {
					border: none;
					&::-webkit-input-placeholder {
						color: $additional-color-6;
						font-size: 14px;
						font-style: italic;
					}
					&::-ms-input-placeholder {
						color: $additional-color-6;
						font-size: 14px;
						font-style: italic;
					}
					&::-moz-placeholder {
						color: $additional-color-6;
						font-size: 14px;
						font-style: italic;
					}
				}
			}
		}
	}
	/*

	    Post Type Styles of Middle Section

	*/
	/*  Text Type Posts Style     */
	.card.post.text-post {
		.card-body {
			.post-content {
				padding: $p-20 $p-30;
				color: $color_2;
			}
		}
	}
	/*  Image Type Posts Style     */
	.card.post.image-post {
		.card-body {
			.post-content {
				padding: $p-20 $p-30;
				color: $color_2;
				.photo {
					max-width: 558px;
					margin-top: 32px;
					margin-bottom: 22px;
				}
			}
		}
	}
	/*  Gallery Type Posts Style     */
	.card.post.gallery-post {
		.card-body {
			.post-content {
				padding: $p-20 $p-30;
				color: $color_2;
				.gallery {
					max-width: 500px;
				}
			}
		}
	}
}
li.list-inline-item {
	a {
		color: $color_2;
	}
}
/*---------------/Middle Section-------------*/