/*---------------Right Section-------------*/

/*  Calendar Section    */
.calendar-section {
    .card {
        .card-body {
            padding: $p-0;
        }
    }
}
#calendar {
    color: $white;
    min-width: 50px;
    >div {
        background-color: $success;
        background-image: $additional-gradient-color-42;
    }
    div#monthrow {
        text-align: $align-center;
        padding: 6px 5px;
        font-size: 30px;
        font-size: 22px;
    }
    .daysoftheweek {
        padding: 1px;
        color: $color_76;
        margin-top: 1px;
        margin-bottom: $m-0;
        padding: $p-0 $p-0;
        font-size: 15px;
        div {
            float: left;
            width: 14.28%;
            height: 2.5em;
            text-align: $align-center;
            line-height: 2.5em;
            font-size: 115%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: $white;
            margin-top: -1px;
        }
    }
    .week {
        div {
            float: left;
            display: block;
            height: 2.4em;
            width: 14.28%;
            text-align: $align-center;
            line-height: 2.6em;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: $additional-color-11;
            font-size: 15px;
        }
    }
    div {
        text-align: $align-center;
        padding: 0;
    }
}
#prev {
    color: $white;
    font-size: 16px;
    padding: 3px 8px;
    background: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    float: left;
    &:disabled {
        color: $color_113 !important;
    }
    &:hover {
        &:enabled {
            color: $additional-color-11 !important;
        }
    }
}
#next {
    color: $white;
    font-size: 16px;
    padding: 3px 8px;
    background: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    float: right;
    &:disabled {
        color: $color_113 !important;
    }
    &:hover {
        &:enabled {
            color: $additional-color-11 !important;
        }
    }
}
#monthrow {
    div {
        color: $white !important;
        background-color: $success !important;
        font: 30px sans-serif !important;
        border-radius: 5px;
        text-align: $align-center;
        padding: 14px 20px 14px;
        font-size: 16px;
        font-weight: normal;
        width: 300px;
    }
}
.daysoftheweek {
    div {
        text-align: $align-center;
    }
}
.current-date {
    border-radius: 6px;
    color: $color_94 !important;
    background-color: $additional-color-8;
}
#content {
    /*  Instagram Section    */
    .instagram-section {
        .card {
            .card-body {
                h4 {
                    font-weight: 600;
                    color: $color_228;
                    padding: 15px 20px;
                    font-size: 1.125rem;
                }
                i {
                    font-weight: 600;
                    color: $black;
                }
                ul {
                    color: $color_229;
                    font-size: 13px;
                    li {
                        margin-right: 0;
                        img {
                            width: 75.5px;
                            margin-bottom: 12px;
                            border-radius: 10px;
                            -webkit-transition: all 0.35s ease;
                            transition: all 0.35s ease;
                            &:hover {
                                -webkit-transform: translateY(-5px) scale(1.02);
                                transform: translateY(-5px) scale(1.02);
                            }
                        }
                    }
                }
            }
        }
    }
    /*  Banner Section    */
    .banner-section {
        .card {
            background: $white $url_13 no-repeat center center;
            padding: 100px 0;
            background-size: cover;
            color: $white;
            height: 280px;
            text-align: $align-center;
        }
    }
    /*  Slideshow Section   */
    .slideshow-section {
        .card {
            .card-body {
                height: 100%;
                .carousel {
                    a[class*="carousel-control-"] {
                        opacity: 1;
                        span.icon {
                            font-size: 15px;
                            font-weight: 600;
                            padding: 6px;
                            color: $color_48;
                            border-radius: 50%;
                            vertical-align: $v-align-middle;
                            background-color: $white;
                            &:hover {
                                font-size: 15px;
                                font-weight: 600;
                                padding: 6px;
                                color: $white;
                                border-radius: 50%;
                                vertical-align: $v-align-middle;
                                background-color: $color_57;
                            }
                        }
                    }
                }
            }
        }
    }
    /*  Active Feeds    */
    .active-feeds-section {
        .card {
            .card-body {
                h4 {
                    font-weight: 600;
                    color: $color_228;
                    padding-bottom: 20px;
                    font-size: 1.125rem;
                }
                .media {
                    &:not(:last-child) {
                        border-bottom: $b-width-1 $solid $color_6;
                    }
                    img {
                        border-radius: 50%;
                        width: 50px;
                    }
                    .media-body {
                        h5 {
                            font-size: 13px;
                            span.usr-commented {
                                font-weight: 600;
                                color: $additional-color-11;
                                font-size: 14px;
                            }
                            span.comment-topic {
                                font-weight: 600;
                                color: $color_56;
                                font-size: 14px;
                            }
                        }
                        p.meta-time {
                            font-size: 13px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

/*---------------/Right Section-------------*/