/*
    Rounded Pills   
*/
.rounded-pills {
	.nav-pills {
		.nav-link.active {
			box-shadow: $shadow-10;
			background-color: $color_86;
			border-color: $color_none;
		}
		.show {
			>.nav-link {
				box-shadow: $shadow-10;
				background-color: $color_86;
				border-color: $color_none;
			}
		}
	}
	.tab-content {
		>.tab-pane {
			padding: 25px 18px 29px 25px;
		}
	}
}
