/*
    Icons Meta
*/
.list-group.list-group-icons-meta {
	.list-group-item.active {
		background-color: $additional-color-6;
		.media {
			i {
				font-size: 27px;
				color: $white;
			}
			.media-body {
				h6 {
					color: $white;
					font-weight: 600;
				}
				p {
					color: $white;
				}
			}
		}
	}
	.list-group-item {
		.media {
			i {
				font-size: 27px;
				color: $primary;
			}
			.media-body {
				h6 {
					color: $dark;
					font-weight: 600;
				}
				p {
					color: $dark;
				}
			}
		}
	}
}
