/*
    Image Meta
*/
.list-group.list-group-media {
	.list-group-item.active {
		background-color: $additional-color-6;
		.media {
			.media-body {
				h6 {
					color: $white;
					font-weight: 600;
				}
				p {
					color: $white;
				}
			}
		}
	}
	.list-group-item {
		.media {
			img {
				color: $primary;
				width: 58px;
			}
			.media-body {
				h6 {
					color: $dark;
					font-weight: 600;
				}
				p {
					color: $dark;
				}
			}
		}
	}
}