/*
    Name Meta
*/
.list-group.list-group-name-meta {
	.list-group-item.active {
		background-color: $additional-color-6;
		color: $white;
	}
	.list-group-item {
		.d-flex {
			.f-head {
				.usr-name {
					font-size: 18px;
					display: inline-flex;
					width: 36px;
					height: 36px;
					color: $white;
					border-radius: 50%;
					background-color: $color_119;
					align-items: center;
					justify-content: center;
					cursor: default;
				}
				.usr-name.usr-1 {
					background-color: $light-primary !important;
					color: $primary;
				}
				.usr-name.usr-2 {
					background-color: $light-secondary !important;
					color: $secondary;
				}
				.usr-name.usr-3 {
					background-color: $light-warning !important;
					color: $warning;
				}
			}
			.action {
				i {
					font-size: 21px;
					font-size: 21px;
					cursor: pointer;
				}
			}
		}
	}
}