/*
    Revenue and profit summary
*/
.r-p-summary {
	height: 100%;
	.r-p-summary-header {
		padding: 20px;
		border-bottom: 1px solid $light-gray;
		h6 {
			font-weight: 600;
			color: $additional-color-11;
		}
		.nav.r-p-summary {
			.nav-link {
				padding: 6px 17px;
				font-size: 13px;
				border-radius: 20px;
			}
			.nav-link.active {
				background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
			}
			.show {
				>.nav-link {
					background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
				}
			}
		}
	}
	.r-p-summary-body {
		.c3-chart-arcs-title {
			font-size: 2.5em;
		}
		.r_p_sales {
			position: relative;
			font-size: 14px;
			font-weight: 600;
			color: $color_82;
			padding-left: 6px;
		}
		.r_p_revenue {
			position: relative;
			font-size: 14px;
			font-weight: 600;
			color: $color_82;
			padding-left: 6px;
		}
		.r_p_expanditure {
			position: relative;
			font-size: 14px;
			font-weight: 600;
			color: $color_82;
			padding-left: 6px;
		}
		.r-p-summary-legend {
			padding: 20px;
			.d-m-r_p_sales {
				background-color: $light-primary;
				height: 13px;
				width: 13px;
			}
			.d-m-r_p_revenue {
				background-color: $dark;
				height: 13px;
				width: 13px;
			}
			.d-m-r_p_expanditure {
				background-color: $info;
				height: 13px;
				width: 13px;
			}
		}
		table.table {
			tbody {
				tr {
					td {
						border: none;
						padding: 12px 25px;
					}
				}
				p {
					position: relative;
					font-size: 16px;
					font-weight: 600;
					color: $color_82;
					padding-left: 35px;
					&:before {
						content: "";
						padding: 11px;
						border-radius: 50%;
						position: absolute;
						left: -4px;
						top: 1px;
					}
				}
				p.r-p-sales {
					&:before {
						background-color: $danger;
					}
				}
				p.r-p-revenue {
					&:before {
						background-color: $dark;
					}
				}
				p.r-p-expenditure {
					&:before {
						background-color: $success;
					}
				}
				span {
					font-weight: 600;
				}
			}
		}
	}
}
