/*
  Total Shared Traded
*/
.total-shared-traded {
	.total-shared-traded-header {
		h6 {
			color: $color_76;
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 22px !important;
		}
		.total-shared-traded-tab.nav-pills {
			.nav-link.active {
				background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
			}
			.show {
				>.nav-link {
					background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
				}
			}
			.nav-link {
				padding: 6px 17px;
				font-size: 13px;
				border-radius: 20px;
			}
		}
	}
	.total-shared-traded-body {
		.tab-content {
			.tab-pane {
				.t-s-total-stats {
					position: $pos-rel;
					font-size: 13px;
					padding-left: 4px;
					color: $additional-color-6;
					&:before {
						position: $pos-abs;
						content: '';
						padding: 7px;
						left: 0;
						top: 2.5px;
						border-radius: 50%;
					}
				}
			}
			.tab-pane#total-shared-traded-monthly {
				.d-m-total-stats {
					background-color: $primary;
					height: 12px;
					width: 12px;
				}
			}
			#total-shared-traded-monthly {
				.ct-series-a {
					.ct-point {
						stroke: $primary;
						stroke-width: 9px;
					}
					.ct-line {
						stroke: $primary;
						stroke-width: 3px;
					}
					.ct-area {
						fill: $primary;
					}
				}
				.ct-label.ct-vertical.ct-start {
					color: $dark;
					font-weight: 600;
				}
				.ct-label.ct-horizontal.ct-end {
					color: $dark;
					font-weight: 600;
				}
			}
			.tab-pane#total-shared-traded-yearly {
				.d-m-total-stats {
					background-color: $info;
					height: 12px;
					width: 12px;
				}
			}
			#total-shared-traded-yearly {
				.ct-series-a {
					.ct-point {
						stroke: $info;
						stroke-width: 9px;
					}
					.ct-line {
						stroke: $info;
						stroke-width: 3px;
					}
					.ct-area {
						fill: $info;
					}
				}
				.ct-label.ct-vertical.ct-start {
					color: $dark;
					font-weight: 600;
				}
				.ct-label.ct-horizontal.ct-end {
					color: $dark;
					font-weight: 600;
				}
			}
		}
		.ct-grid {
			stroke: $light-gray;
		}
	}
}
