/* 	Label Icon	*/
.m-o-label-icon {
	.media {
		&:first-child {
			border-top: none;
		}
		padding: 1.5rem;
		border-top: $b-width-1 $solid $color_6;
		i.label-icon {
			font-size: 35px;
		}
		i.label-icon.label-success {
			color: $color_148;
		}
		i.label-icon.label-danger {
			color: $color_149;
		}
		i.label-icon.label-warning {
			color: $color_88;
		}
	}
}