/* 	Checkbox	*/
.m-o-chkbox {
	.media {
		&:first-child {
			border-top: none;
		}
		padding: 1.5rem;
		border-top: $b-width-1 $solid $color_6;
		.custom-checkbox {
			.custom-control-input {
				&:checked~.custom-control-label {
					&::before {
						background-color: $color_151;
					}
				}
			}
		}
	}
}