/* 	Media Notation With Icon	*/
.notation-text-icon {
	.media {
		&:first-child {
			border-top: none;
		}
		padding: 1.5rem;
		border-top: $b-width-1 $solid $color_6;
		.media-body {
			.media-notation {
				a {
					color: $color_55;
					font-size: 13px;
					font-weight: 600;
					i {
						font-size: 16px;
						color: $color_116;
						margin-left: 5px;
					}
				}
			}
		}
	}
}

