/* 	With Notifcation	*/

.m-o-with-notification {
	.media.status-indicator-notification {
		&:first-child {
			border-top: none;
		}
		padding: 1.5rem;
		border-top: $b-width-1 $solid $color_6;
		div.usr-img {
			position: $pos-rel;
			span.status {
				position: $pos-abs;
				top: 0;
				right: 7px;
				border-radius: 50%;
				padding: 0px 2px;
				color: $white;
			}
			span.status.online {
				background-color: $color_86;
			}
			span.status.offline {
				background-color: $color_55;
			}
			span.status.stand-by {
				background-color: $additional-color-3;
			}
		}
	}
}