/* 	With Badge	*/
.m-o-badge {
	.media {
		&:first-child {
			border-top: none;
		}
		padding: 1.5rem;
		border-top: $b-width-1 $solid $color_6;
		.media-heading {
			span.badge {
				width: 18px;
				height: 18px;
				border-radius: 50%;
				padding: 0.1em 0.1em 0.1em;
				font-size: 11px;
			}
		}
	}
}