/*  Creative Accordion       */
.creative2-accordion-content {
	#creativeAccordion {
		.card {
			background-color: $light-gray;
			color: $white;
			border: none;
			border-radius: 0;
		}
	}
	.card-header {
		background-color: $color_139;
		color: $white;
		border: none;
		h5 {
			>span {
				padding: 0 2px 0 0;
				color: $color_138;
			}
			.icon {
				display: inline-flex;
				padding: 15px 8px;
				color: $white;
				background-color: $color_84;
				border-bottom-left-radius: 4px;
				border-top-left-radius: 4px;
			}
		}
	}
	#creative2CollapseOne {
		.card-body {
			h4 {
				color: $additional-color-5;
			}
			color: $color_48;
			background-color: $white;
		}
	}
	#creative2CollapseThree {
		.card-body {
			h4 {
				color: $additional-color-5;
			}
			color: $color_48;
			background-color: $white;
		}
	}
	#creative2CollapseTwo {
		.card-body {
			color: $color_48;
			background-color: $white;
		}
	}
}
