/*  Creative Accordion   1    */
.creative-accordion-content {
	.card-header {
		background-color: $color_86;
		color: $white;
		border-color: $color_none;
	}
	#creativeCollapseOne {
		.card-body {
			h4 {
				color: $additional-color-5;
			}
			color: $color_48;
		}
	}
	#creativeCollapseThree {
		.card-body {
			h4 {
				color: $additional-color-5;
			}
			color: $color_48;
		}
	}
	#creativeCollapseTwo {
		.card-body {
			color: $color_48;
		}
	}
}
