/*
    Procut-catalog 2
*/
.product-cat2 {
	span.badge {
		background-color: $color_393;
		margin-left: 15px;
		border-radius: 50%;
		height: 35px;
		width: 35px;
		text-align: center;
		padding: $p-10 $p-5;
		box-shadow: $shadow-7;
		will-change: opacity, transform;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
	}
	h5 {
		color: $black;
		margin-top: 47px;
		margin-left: 15px;
	}
	h3 {
		color: $additional-color-2;
		margin-left: 15px;
	}
	p {
		font-size: 13px;
		margin-left: 15px;
	}
	button.btn {
		height: 38px;
		margin-left: 15px;
		margin-top: 21px;
		background-color: $additional-color-2;
		color: $white;
		font-size: 13px;
		font-weight: 600;
		text-transform: initial;
		box-shadow: $shadow-5;
		will-change: opacity, transform;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
	}
}