/*
    Procut-catalog 1
*/
.widget-content.widget-content-area.product-cat1 {
	background-color: $white;
}
.product-cat1 {
	span.badge {
		background-color: $warning;
		margin-left: 15px;
		box-shadow: $shadow-7;
		will-change: opacity, transform;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
	}
	h5 {
		color: $color_389;
		margin-top: 47px;
		margin-left: 15px;
	}
	h3 {
		color: $color_56;
		margin-left: 15px;
		font-weight: 600;
	}
	p {
		font-size: 13px;
		margin-left: 15px;
		color: $color_390;
	}
	button.btn {
		height: 38px;
		margin-top: 21px;
		border-radius: 24px;
		background-color: $color_56;
		color: $white;
		font-size: 13px;
		font-weight: 600;
		text-transform: initial;
		margin-left: $m-5;
		box-shadow: $shadow-5;
		will-change: opacity, transform;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
	}
}
.col-7 {
	.btn {
		&:hover {
			border-color: $color_392;
			background-color: $color_391;
			box-shadow: $shadow-5;
			will-change: opacity, transform;
			transition: all 0.3s ease-out;
			-webkit-transition: all 0.3s ease-out;
		}
	}
}
.btn-default {
	&:active {
		&:hover {
			background-color: $color_94;
			color: $black;
		}
	}
}
