/*
    Procut-catalog 4
*/

.product-cat4 {
	.card {
		height: 473px;
		border: none;
	}
	img {
		width: 100%;
		height: 260px;
	}
	span.badge {
		position: $pos-abs;
		background-color: $color_59;
		margin-left: 15px;
		border-radius: 50%;
		height: 42px;
		width: 42px;
		text-align: $align-center;
		padding: 13px 8px;
		margin-top: $m-5;
		box-shadow: $shadow-7;
		will-change: opacity, transform;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
	}
	h4.card-title {
		color: $color_53;
		text-transform: $transform-capital;
		font-weight: 600;
		text-align: $align-left;
		padding-left: $p-20;
		font-size: 17px;
		margin-top: $m-0;
	}
	p.card-text {
		color: $additional-color-6;
		font-size: 13px;
		text-align: $align-left;
		padding-left: $p-20 !important;
	}
	.card-bottom-section {
		position: $pos-abs;
		right: 0;
		bottom: 22px;
	}
	button.btn {
		background-color: $color_53;
		border-radius: 5px;
		color: $white;
		box-shadow: none;
		border-color: $color_395;
		font-size: 13px;
		box-shadow: $shadow-5;
		will-change: opacity, transform;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		&:hover {
			border: $b-width-1 $solid $color_none;
			padding: 0.5rem 1.375rem;
		}
	}
	/*
	    Procut-catalog 4 Hover
	*/
	&:hover {
		button.btn {
			background-color: $color_53;
			color: $white;
		}
	}
}
p.card-text1 {
	font-size: 18px;
	font-weight: 600;
	color: $color_396;
	text-align: $align-left;
	padding-left: $p-20 !important;
}
