/*
    Procut-catalog 6
*/

.product-cat6 {
	.card {
		height: 473px;
		border: none;
	}
	img {
		width: 100%;
		height: 270px;
	}
	span.badge.badge-success {
		position: $pos-abs;
		background-color: $color_386;
		margin-left: $m-5;
		height: 30px;
		width: 40px;
		text-align: center;
		padding: 7px 7px;
		margin-top: $m-5;
		box-shadow: $shadow-7;
		will-change: opacity, transform;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
	}
	h4.card-title {
		color: $color_1;
		font-weight: 600;
		font-size: 19px;
		margin-top: 24px;
	}
	p.card-des {
		font-size: 13px;
	}
	p.card-text {
		color: $color_391;
		font-size: 16px;
		font-weight: 700;
	}
	button.btn {
		background-color: $color_391;
		border-radius: $br-20;
		color: $white;
		box-shadow: none;
		box-shadow: $shadow-5;
		will-change: opacity, transform;
		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		&:hover {
			border: $b-width-1 $solid $color_none;
			padding: 0.5rem 1.375rem;
			box-shadow: $shadow-7;
			will-change: opacity, transform;
			transition: all 0.3s ease-out;
			-webkit-transition: all 0.3s ease-out;
		}
	}
	.card-bottom-section {
		position: $pos-abs;
		right: 0;
		bottom: 16px;
	}
	.product-sizes {
		p {
			width: 30px;
			padding: $p-5;
			&:hover {
				color: $white;
				background-color: $color_294;
				border-radius: 50%;
			}
		}
	}
	/*
	    Procut-catalog 6 Hover
	*/
	&:hover {
		button.btn {
			background-color: $color_16;
			color: $white;
		}
	}
}
