/*
    Revenue Statistics
*/
.revenue-statistics {
	.revenue-statistics-title {
		h6 {
			font-weight: 600;
			color: $additional-color-11;
			font-size: 20px;
		}
	}
	.revenue-statistics-body {
		#revenue-stats {
			margin-top: 3rem;
			margin-bottom: 2rem;
		}
	}
}
.r-s-bottom-section {
	span {
		font-size: 18px;
		color: $color_76;
	}
	.r-s-car-sales {
		.d-m-r-s-car {
			border: 2px solid $light-primary;
			height: 18px;
			width: 17px;
		}
	}
	.r-s-car-services {
		.d-m-r-s-services {
			border: 2px solid $primary;
			height: 18px;
			width: 17px;
		}
	}
	.r-s-car-rental {
		.d-m-r-s-rental {
			border: 2px solid $dark;
			height: 18px;
			width: 17px;
		}
	}
	p {
		font-size: 16px;
		color: $color_76;
	}
}
#revenue-stats {
	.ct-series-a {
		.ct-slice-donut {
			stroke: $light-primary;
			stroke-width: 32px;
		}
	}
	.ct-series-b {
		.ct-slice-donut {
			stroke: $primary;
			stroke-width: 32px;
		}
	}
	.ct-series-c {
		.ct-slice-donut {
			stroke: $dark;
			stroke-width: 32px;
		}
	}
	.ct-label {
		fill: $white;
	}
}
