/*
  Visitor Engagement
*/
#visitor-engagement-chart {
	.amcharts-chart-div {
		a {
			display: none !important;
		}
	}
	width: 100%;
	height: 300px;
}
.visitor-engagement {
	.visitor-engagement-header {
		h6 {
			color: $color_76;
			font-size: 18px;
			font-weight: 600;
		}
	}
	.visitor-engagement-body {
		ul {
			width: 180px;
		}
	}
	.v-e-product-name {
		color: $black;
		font-weight: 600;
		font-size: 15px;
	}
	.v-e-product-name.pn-1 {
		color: $info;
	}
	.v-e-product-name.pn-2 {
		color: $primary;
	}
	.v-e-product-name.pn-3 {
		color: $dark;
	}
	.v-e-product-name.pn-4 {
		color: #3232b7;
	}
	.v-e-product-stats {
		color: $black;
		font-weight: 600;
		i.flaticon-up-arrow-3 {
			color: $success;
			font-weight: 600;
		}
		i.flaticon-arrow-down {
			color: $color_56;
			font-weight: 600;
		}
	}
}
