/*
  Visitors Weekly
*/
.visitors-weekly {
	.v-weekly-header {
		h6 {
			color: $color_76;
			font-weight: 600;
			font-size: 16px;
		}
	}
	.v-weekly-body {
		.amcharts-main-div {
			a {
				opacity: 0 !important;
			}
		}
		p.v-weekly-percentage {
			font-weight: 600;
			font-size: 20px;
			color: $black;
		}
		p.v-weekly-txt {
			font-size: 14px;
			font-weight: 600;
			color: $additional-color-11;
		}
	}
}