/*      Default Buttons       */
.btn-default {
	&:hover {
		color: $additional-color-11 !important;
		background-color: $color_24;
		box-shadow: none;
	}
	&:focus {
		color: $additional-color-11 !important;
		background-color: $color_24;
		box-shadow: none;
	}
	&:active {
		background-color: $color_24;
		border-top: 1px solid #dfdfdf;
	}
}
.btn-default.active {
	background-color: $color_24;
	border-top: 1px solid #dfdfdf;
}
.btn-primary {
	color: $white !important;
	background-color: $primary !important;
	border-color: $primary;
	&:hover {
		color: $white !important;
		background-color: $color_25;
		box-shadow: none;
	}
	&:focus {
		color: $white !important;
		background-color: $color_25;
		box-shadow: none;
	}
	&:active {
		background-color: $color_25;
		border-top: 1px solid #3258db;
		&:focus {
			color: $white !important;
			background-color: $color_26;
			border-color: $color_26;
		}
		&:hover {
			color: $white !important;
			background-color: $color_26;
			border-color: $color_26;
		}
	}
	&:disabled {
		background-color: $primary;
		border-color: $primary;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: $white !important;
			background-color: $color_25;
			border-color: $color_25;
		}
		&:not(.disabled) {
			&:active {
				color: $white !important;
				background-color: $color_25;
				border-color: $color_25;
		border-top-color: $white;
			}
		}
	}
	.caret {
	}
}
.btn-primary.active {
	background-color: $color_25;
	border-top: 1px solid #3258db;
	&:focus {
		color: $white !important;
		background-color: $color_26;
		border-color: $color_26;
	}
	&:hover {
		color: $white !important;
		background-color: $color_26;
		border-color: $color_26;
	}
}
.btn-primary.disabled {
	background-color: $primary;
	border-color: $primary;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-primary.btn[disabled] {
	background-color: $primary;
	border-color: $primary;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-primary.active.focus {
	color: $white !important;
	background-color: $color_26;
	border-color: $color_26;
}
.btn-primary.focus {
	&:active {
		color: $white !important;
		background-color: $color_26;
		border-color: $color_26;
	}
}
.open {
	>.dropdown-toggle.btn-primary.focus {
		color: $white !important;
		background-color: $color_26;
		border-color: $color_26;
	}
	>.dropdown-toggle.btn-primary {
		&:focus {
			color: $white !important;
			background-color: $color_26;
			border-color: $color_26;
		}
		&:hover {
			color: $white !important;
			background-color: $color_26;
			border-color: $color_26;
		}
	}
	>.dropdown-toggle.btn-info.focus {
		color: $white !important;
		background-color: $color_29;
		border-color: $color_29;
	}
	>.dropdown-toggle.btn-info {
		&:focus {
			color: $white !important;
			background-color: $color_29;
			border-color: $color_29;
		}
		&:hover {
			color: $white !important;
			background-color: $color_29;
			border-color: $color_29;
		}
	}
	>.dropdown-toggle.btn-warning.focus {
		color: $white !important;
		background-color: $color_14;
		border-color: $color_14;
	}
	>.dropdown-toggle.btn-warning {
		&:focus {
			color: $white !important;
			background-color: $color_14;
			border-color: $color_14;
		}
		&:hover {
			color: $white !important;
			background-color: $color_14;
			border-color: $color_14;
		}
	}
	>.dropdown-toggle.btn-danger.focus {
		color: $white !important;
		background-color: $color_18;
		border-color: $color_18;
	}
	>.dropdown-toggle.btn-danger {
		&:focus {
			color: $white !important;
			background-color: $color_18;
			border-color: $color_18;
		}
		&:hover {
			color: $white !important;
			background-color: $color_18;
			border-color: $color_18;
		}
	}
	>.dropdown-toggle.btn-success.focus {
		color: $white !important;
		background-color: $color_23;
		border-color: $color_23;
	}
	>.dropdown-toggle.btn-success {
		&:focus {
			color: $white !important;
			background-color: $color_23;
			border-color: $color_23;
		}
		&:hover {
			color: $white !important;
			background-color: $color_23;
			border-color: $color_23;
		}
	}
}
.show {
	>.btn-primary.dropdown-toggle {
		color: $white !important;
		background-color: $color_25;
		border-color: $color_25;
	}
	>.btn-secondary.dropdown-toggle {
		color: $white !important;
		background-color: $color_28;
		border-color: $color_28;
	}
	>.btn-info.dropdown-toggle {
		color: $white !important;
		background-color: $color_29;
		border-color: $color_29;
	}
	>.btn-warning.dropdown-toggle {
		color: $color_10;
		background-color: $color_13;
		border-color: $color_13;
	}
	>.btn-danger.dropdown-toggle {
		color: $white !important;
		background-color: $color_17;
		border-color: $color_17;
	}
	>.btn-dark.dropdown-toggle {
		color: $white !important;
		background-color: $color_20;
		border-color: $color_20;
	}
	>.btn-success.dropdown-toggle {
		color: $white !important;
		background-color: $color_22;
		border-color: $color_22;
	}
}
.btn-group.open {
	.btn-primary.dropdown-toggle {
		background-color: $color_27;
	}
	.btn-info.dropdown-toggle {
		background-color: $color_12;
	}
	.btn-warning.dropdown-toggle {
		background-color: $color_15;
	}
	.btn-danger.dropdown-toggle {
		background-color: $color_19;
	}
	.btn-dark.dropdown-toggle {
		background-color: $color_21;
	}
}
.btn-secondary {
	color: $white !important;
	background-color: $secondary;
	border-color: $secondary;
	&:hover {
		color: $white !important;
		background-color: $color_28;
		box-shadow: none;
		border-color: $color_28;
	}
	&:focus {
		color: $white !important;
		background-color: $color_28;
		box-shadow: none;
		border-color: $color_28;
	}
	&:active {
		background-color: $color_28;
		border-top: 1px solid #714cbd;
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: $white !important;
			background-color: $color_28;
			border-color: $color_28;
		}
		&:not(.disabled) {
			&:active {
				color: $white !important;
				background-color: $color_28;
				border-color: $color_28;
			}
		}
	}
	&:disabled {
		background-color: $secondary;
		border-color: $secondary;
		-webkit-box-shadow: none;
		border-top-color: $white;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.caret {
	}
}
.btn-secondary.active {
	background-color: $color_28;
	border-top: 1px solid #714cbd;
}
.btn-secondary.disabled {
	background-color: $secondary;
	border-color: $secondary;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-secondary.btn[disabled] {
	background-color: $secondary;
	border-color: $secondary;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-info {
	color: $white !important;
	background-color: $info;
	border-color: $info;
	&:hover {
		color: $white !important;
		background-color: $color_29;
		box-shadow: none;
		border-color: $color_29;
	}
	&:focus {
		color: $white !important;
		background-color: $color_29;
		box-shadow: none;
		border-color: $color_29;
	}
	&:active {
		background-color: $color_29;
		border-top: 1px solid #209dff;
		&:focus {
			color: $white !important;
			background-color: $color_29;
			border-color: $color_29;
		}
		&:hover {
			color: $white !important;
			background-color: $color_29;
			border-color: $color_29;
		}
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: $white !important;
			background-color: $color_29;
			border-color: $color_29;
		}
		&:not(.disabled) {
			&:active {
				color: $white !important;
				background-color: $color_29;
				border-color: $color_29;
			}
		}
	}
	&:disabled {
		background-color: $info;
		border-color: $info;
		-webkit-box-shadow: none;
		border-top-color: $white;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.caret {
	}
}
.btn-info.active {
	background-color: $color_29;
	border-top: 1px solid #209dff;
	&:focus {
		color: $white !important;
		background-color: $color_29;
		border-color: $color_29;
	}
	&:hover {
		color: $white !important;
		background-color: $color_29;
		border-color: $color_29;
	}
}
.btn-info.disabled {
	background-color: $info;
	border-color: $info;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-info.btn[disabled] {
	background-color: $info;
	border-color: $info;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-info.active.focus {
	color: $white !important;
	background-color: $color_29;
	border-color: $color_29;
}
.btn-info.focus {
	&:active {
		color: $white !important;
		background-color: $color_29;
		border-color: $color_29;
	}
}
.btn-warning {
	color: $white !important;
	background-color: $warning;
	border-color: $warning;
	&:hover {
		color: $white !important;
		background-color: $color_13;
		box-shadow: none;
		border-color: $color_13;
	}
	&:focus {
		color: $white !important;
		background-color: $color_13;
		box-shadow: none;
		border-color: $color_13;
	}
	&:active {
		background-color: $color_13;
		border-top: 1px solid #dea82a;
		&:focus {
			color: $white !important;
			background-color: $color_14;
			border-color: $color_14;
		}
		&:hover {
			color: $white !important;
			background-color: $color_14;
			border-color: $color_14;
		}
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: $color_10;
			background-color: $color_13;
			border-color: $color_13;
		}
		&:not(.disabled) {
			&:active {
				color: $color_10;
				background-color: $color_13;
				border-color: $color_13;
			}
		}
	}
	&:disabled {
		background-color: $warning;
		border-color: $warning;
		-webkit-box-shadow: none;
		border-top-color: $white;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.caret {
	}
}
.btn-warning.active {
	background-color: $color_13;
	border-top: 1px solid #dea82a;
	&:focus {
		color: $white !important;
		background-color: $color_14;
		border-color: $color_14;
	}
	&:hover {
		color: $white !important;
		background-color: $color_14;
		border-color: $color_14;
	}
}
.btn-warning.disabled {
	background-color: $warning;
	border-color: $warning;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-warning.btn[disabled] {
	background-color: $warning;
	border-color: $warning;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-warning.active.focus {
	color: $white !important;
	background-color: $color_14;
	border-color: $color_14;
}
.btn-warning.focus {
	&:active {
		color: $white !important;
		background-color: $color_14;
		border-color: $color_14;
	}
}
.btn-danger {
	color: $white !important;
	background-color: $danger;
	border-color: $danger;
	&:hover {
		color: $white !important;
		background-color: $color_16;
		box-shadow: none;
		border-color: $color_16;
	}
	&:focus {
		color: $white !important;
		background-color: $color_16;
		box-shadow: none;
		border-color: $color_16;
	}
	&:active {
		background-color: $color_17;
		border-top: 1px solid #df303b;
		&:focus {
			color: $white !important;
			background-color: $color_18;
			border-color: $color_18;
		}
		&:hover {
			color: $white !important;
			background-color: $color_18;
			border-color: $color_18;
		}
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: $white !important;
			background-color: $color_17;
			border-color: $color_17;
		}
		&:not(.disabled) {
			&:active {
				color: $white !important;
				background-color: $color_17;
				border-color: $color_17;
			}
		}
	}
	&:disabled {
		background-color: $danger;
		border-color: $danger;
		-webkit-box-shadow: none;
		border-top-color: $white;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.caret {
	}
}
.btn-danger.active {
	background-color: $color_17;
	border-top: 1px solid #df303b;
	&:focus {
		color: $white !important;
		background-color: $color_18;
		border-color: $color_18;
	}
	&:hover {
		color: $white !important;
		background-color: $color_18;
		border-color: $color_18;
	}
}
.btn-danger.disabled {
	background-color: $danger;
	border-color: $danger;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-danger.btn[disabled] {
	background-color: $danger;
	border-color: $danger;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-danger.active.focus {
	color: $white !important;
	background-color: $color_18;
	border-color: $color_18;
}
.btn-danger.focus {
	&:active {
		color: $white !important;
		background-color: $color_18;
		border-color: $color_18;
	}
}
.btn-dark {
	color: $white !important;
	background-color: $dark;
	border-color: $dark;
	&:hover {
		color: $white !important;
		background-color: $color_20;
		box-shadow: none;
		border-color: $color_20;
	}
	&:focus {
		color: $white !important;
		background-color: $color_20;
		box-shadow: none;
		border-color: $color_20;
	}
	&:active {
		background-color: $color_20;
		border-top: 1px solid #454656;
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: $white !important;
			background-color: $color_20;
			border-color: $color_20;
		}
		&:not(.disabled) {
			&:active {
				color: $white !important;
				background-color: $color_20;
				border-color: $color_20;
			}
		}
	}
	&:disabled {
		background-color: $dark;
		border-color: $dark;
		-webkit-box-shadow: none;
		border-top-color: $white;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.caret {
	}
}
.btn-dark.active {
	background-color: $color_20;
	border-top: 1px solid #454656;
}
.btn-dark.disabled {
	background-color: $dark;
	border-color: $dark;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-dark.btn[disabled] {
	background-color: $dark;
	border-color: $dark;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-success {
	color: $white !important;
	background-color: $success;
	border-color: $success;
	&:hover {
		color: $white !important;
		background-color: $color_22;
		box-shadow: none;
		border-color: $color_22;
	}
	&:focus {
		color: $white !important;
		background-color: $color_22;
		box-shadow: none;
		border-color: $color_22;
	}
	&:active {
		background-color: $color_22;
		border-top: 1px solid #2ea37d;
		&:focus {
			color: $white !important;
			background-color: $color_23;
			border-color: $color_23;
		}
		&:hover {
			color: $white !important;
			background-color: $color_23;
			border-color: $color_23;
		}
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: $white !important;
			background-color: $color_22;
			border-color: $color_22;
		}
		&:not(.disabled) {
			&:active {
				color: $white !important;
				background-color: $color_22;
				border-color: $color_22;
			}
		}
	}
	&:disabled {
		background-color: $success;
		border-color: $success;
		-webkit-box-shadow: none;
		border-top-color: $white;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.caret {
	}
}
.btn-success.active {
	background-color: $color_22;
	border-top: 1px solid #2ea37d;
	&:focus {
		color: $white !important;
		background-color: $color_23;
		border-color: $color_23;
	}
	&:hover {
		color: $white !important;
		background-color: $color_23;
		border-color: $color_23;
	}
}
.btn-success.disabled {
	background-color: $success;
	border-color: $success;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-success.btn[disabled] {
	background-color: $success;
	border-color: $success;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-success.active.focus {
	color: $white !important;
	background-color: $color_23;
	border-color: $color_23;
}
.btn-success.focus {
	&:active {
		color: $white !important;
		background-color: $color_23;
		border-color: $color_23;
	}
}
