//	=================
//    	Imports
//	=================

@import '../base/color_variables';   	// Color Variables
@import '../base/fonticons';   			// Fonticons Variables
@import '../base/urls';   				// URLS Variables
@import '../base/utilities_variables';  // Utilities Variables


.table-responsive {
	.form-inline {
		width: 100%;
		display: block;
	}
}
div.dt-buttons {
	margin-bottom: $m-10;
}
div.dataTables_info {
	float: $align-left;
}
