/*  chat     */
.chat {
	.chat-header {
		padding: 20px;
		h6 {
			color: $color_57;
			font-size: 16px;
			font-weight: 600;
		}
	}
	.chat-body {
		.chat-usr-img {
			padding: 16px 15px;
			border-bottom: $b-width-1 $solid $light-gray;
			img {
				width: 40px;
				border-radius: 50%;
				margin-bottom: 10px;
				margin-right: 4px;
			}
		}
		.chat-system {
			.chat_window {
				.chat-messages {
					position: $pos-rel;
					height: 392px;
					overflow-y: scroll;
					list-style: none;
					padding: 20px 10px 0px;
					margin: 0px;
					.message {
						position: $pos-rel;
						.text {
							h6 {
								color: $primary;
								font-weight: 600;
							}
							p {
								color: $black;
							}
						}
					}
					.message.left {
						.avatar {
							position: $pos-abs;
							top: -50px;
							left: 12px;
							border-radius: 50%;
							background-image: $url_5;
							float: left;
							background-repeat: no-repeat;
							background-size: cover;
							height: 44px;
							width: 44px;
						}
						.text {
							margin-left: 28px;
							margin-right: 10px;
							background-color: $light-primary;
							color: $black;
							border-radius: 1.875rem !important;
							border-top-left-radius: 0px !important;
							padding: 12px;
							margin-top: 65px;
							margin-bottom: 65px;
							width: 100%;
							max-width: 250px;
						}
					}
					.message.right {
						.avatar {
							position: $pos-abs;
							float: right;
							background-image: $url_6;
							background-repeat: no-repeat;
							background-size: cover;
							right: 0;
							top: -50px;
							height: 44px;
							width: 44px;
							border-radius: 50%;
						}
						.text {
							margin-right: 28px;
							margin-left: auto;
							background-color: $color_101;
							color: $black;
							border-radius: 1.875rem !important;
							border-top-right-radius: 0px !important;
							padding: 12px;
							margin-top: 16px;
							margin-bottom: 16px;
							width: 100%;
							max-width: 250px;
						}
					}
				}
				.chat-bottom-section {
					.message_input_wrapper {
						.message_input {
							border: none;
							background-color: $color_57;
							border-radius: 0;
							color: $white;
							padding: 10px;
							&::-webkit-input-placeholder {
								color: $white;
								font-size: 14px;
							}
							&::-ms-input-placeholder {
								color: $white;
								font-size: 14px;
							}
							&::-moz-placeholder {
								color: $white;
								font-size: 14px;
							}
						}
						.input-group-append {
							.input-group-text {
								border: none;
								background-color: $color_57;
								color: $white;
								font-size: 20px;
							}
						}
					}
				}
			}
		}
	}
}
.chat-messages {
	&::-moz-scrollbar {
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	&::-moz-scrollbar-button {
		&:start {
			&:decrement {
				height: 0px;
				height: 0px;
				display: block;
				display: block;
				background-color: $color_100;
				background-color: $color_100;
			}
		}
	}
	&::-webkit-scrollbar-button {
		&:start {
			&:decrement {
				height: 0px;
				display: block;
				background-color: $color_100;
			}
		}
		&:end {
			&:increment {
				height: 0px;
				display: block;
				background-color: $color_100;
			}
		}
	}
	&::-moz-scrollbar-track-piece {
		background-color: $white;
		-webkit-border-radius: 6px;
	}
	&::-webkit-scrollbar-track-piece {
		background-color: $white;
		-webkit-border-radius: 6px;
	}
	&::-moz-scrollbar-thumb {
		&:vertical {
			height: 50px;
			background-color: $color_100;
			-webkit-border-radius: 6px;
		}
		&:horizontal {
			width: 50px;
			background-color: $color_100;
			-webkit-border-radius: 3px;
		}
	}
	&::-webkit-scrollbar-thumb {
		&:vertical {
			height: 50px;
			background-color: $color_100;
			-webkit-border-radius: 6px;
		}
		&:horizontal {
			width: 50px;
			background-color: $color_100;
			-webkit-border-radius: 3px;
		}
	}
}
