/*      Commodity prices    */
.commodity-prices {
	.commodity-prices-title {
		h6 {
			color: $color_76;
			font-size: 16px;
			font-weight: 600;
			padding: 20px;
			border-bottom: $b-width-1 $solid $light-gray;
		}
	}
	.commodity-prices-body {
		.table {
			thead {
				tr {
					th {
						border-top: none;
						color: $additional-color-2;
					}
				}
			}
			tbody {
				tr {
					td {
						border-top-color: $color_6;
						vertical-align: $v-align-middle;
						padding: 18px;
						h6 {
							font-weight: 600;
							color: $color_76;
							font-size: 15px;
						}
						p {
							font-size: 13px;
							font-weight: 600;
							color: $additional-color-6;
						}
						span {
							font-weight: 600;
							font-size: 14px;
						}
						span.c-p-price-inc {
							color: $success;
						}
						span.c-p-price-dec {
							color: $color_16;
						}
						span.c-p-price-percentage-inc {
							color: $success;
						}
						span.c-p-price-percentage-dec {
							color: $color_16;
						}
						.progress {
							height: 2px;
							width: auto;
							.progress-bar.bg-dark {
								background-color: $light-dark !important;
							}
						}
					}
				}
			}
		}
	}
}
