/*
    Event Card
*/
#event-card-1.card {
	position: $pos-rel;
	border: none;
	height: 452px;
	.card-title {
		.badge {
			padding: 6px 20px;
			font-size: 19px;
			border: none;
			color: $color_76;
			background-color: $light-primary;
		}
	}
	.card-event-icon {
		i {
			font-size: 81px;
			color: $additional-color-2;
		}
	}
	.card-event-list {
		p {
			font-size: 18px;
			font-weight: 600;
			color: $black;
		}
	}
	.card-bottom-section {
		position: $pos-abs;
		bottom: 30px;
		right: 0;
		left: 0;
		button.btn {
		    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
		    border: none;
		    box-shadow: 2px 3px 15px 0px #1a73e9;
			padding: 12px 29px;
			font-size: 17px;
			font-weight: normal;
			&:hover {
			    background-image: linear-gradient(-20deg, #1a73e9 0%, #3232b7 100%);
			}
		}
	}
}
