/* 
    Latest Invoice
*/
.latest-invoice {
	height: 100%;
	.widget-header {
		border-bottom: 1px solid $light-gray;
	}
	table {
		>thead {
			>tr {
				>th {
					color: $color_76;
					font-size: 15px;
					vertical-align: $v-align-middle;
				}
			}
		}
		>tbody {
			>tr {
				>td {
					color: $additional-color-11;
					font-size: 15px;
					vertical-align: $v-align-middle;
					padding-right: 12px;
					i {
						font-size: 22px;
						color: $additional-color-11;
						cursor: pointer;
					}
					.badge {
						padding: 7px 18px;
					}
				}
			}
		}
	}
	.table-responsive {
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		&::-webkit-scrollbar-button {
			&:start {
				&:decrement {
					height: 0px;
					display: block;
					background-color: $color_100;
					width: 0;
				}
			}
			&:end {
				&:increment {
					height: 0px;
					display: block;
					background-color: $color_100;
					width: 0;
				}
			}
		}
		&::-webkit-scrollbar-track-piece {
			background-color: $white;
			-webkit-border-radius: 6px;
		}
		&::-webkit-scrollbar-thumb {
			&:vertical {
				height: 50px;
				background-color: $color_100;
				-webkit-border-radius: 6px;
			}
			&:horizontal {
				width: 50px;
				background-color: $color_100;
				-webkit-border-radius: 3px;
			}
		}
	}
}