/*
    New Products 
*/
.new-products {
	.table {
		>thead {
			>tr {
				>th {
					color: $color_76;
					font-size: 15px;
					padding: 10px 8px;
					font-weight: 600;
					text-transform: $transform-upper;
					border-bottom: 0px solid $color_118;
					vertical-align: $v-align-middle;
				}
			}
		}
		>tbody {
			>tr {
				&:last-child {
					.toolbar-dropdown {
						bottom: 40px;
						margin-top: 0;
					}
				}
				>td {
					color: $additional-color-11;
					vertical-align: $v-align-middle;
					font-size: 15px;
					padding: 14px 8px;
					border-bottom: 0.07rem solid $color_6;
					span.badge {
						font-weight: 600;
						padding: 5px 19px;
					}
					span.badge.badge-success {
						background-color: $light-success;
						color: $success;
						box-shadow: none;
					}
					span.badge.badge-info {
						background-color: $light-info;
						color: $info;
						box-shadow: none;
					}
					span.badge.badge-secondary {
						background-color: $light-secondary;
						color: $secondary;
						box-shadow: none;
					}
					img {
						border-radius: 50%;
						width: 51px;
						height: 49px;
						border: 2px solid $color_53;
					}
				}
			}

		}
		.new-control-indicator {
			width: 1.2rem;
			height: 1.2rem;
		}
		.new-control.new-checkbox {
			span.new-control-indicator {
				&:after {
					margin-left: -3px;
				}
			}
		}
		>li {
			>a {
				i {
					margin: 0;
					font-size: 20px;
					color: $additional-color-6;
					display: block;
				}
			}
		}
	}
	.toolbar {
		ul {
			li {
				margin-right: 0;
				cursor: pointer;
				i {
					font-size: 22px;
				}
				span {
					font-size: 13px;
					cursor: pointer;
				}
			}
			&:hover {
				span {
					color: $color_51;
				}
				i {
					color: $color_51;
				}
			}
		}
	}
}
.toolbar {
	position: relative;
	&:hover {
		.toolbar-toggle {
			color: $color_51;
		}
		.toolbar-dropdown {
			display: block;
		}
	}
}
.toolbar-toggle {
	cursor: pointer;
	font-size: 35px;
	position: relative;
	top: -11px;
	color: $additional-color-2;
}
.toolbar-dropdown {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -12px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	padding: 5px 5px;
	border-radius: 4px;
	background-color: $white !important;
	border: 1px solid $white !important;
	max-height: 400px;
	height: auto;
	max-width: 111px;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
	display: none;
}
.new-products.table-responsive {
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar-button {
		&:start {
			&:decrement {
				height: 0px;
				display: block;
				background-color: $color_100;
				width: 0;
			}
		}
		&:end {
			&:increment {
				height: 0px;
				display: block;
				background-color: $color_100;
				width: 0;
			}
		}
	}
	&::-webkit-scrollbar-track-piece {
		background-color: $white;
		-webkit-border-radius: 6px;
	}
	&::-webkit-scrollbar-thumb {
		&:vertical {
			height: 50px;
			background-color: $color_100;
			-webkit-border-radius: 6px;
		}
		&:horizontal {
			width: 50px;
			background-color: $color_100;
			-webkit-border-radius: 3px;
		}
	}
}