/*
    Product Sales List
*/
.product-sales-list-content {
	height: 100%;
}
.product-sales-list {
	.product-sales-header {
		padding: 20px;
		h5 {
			font-weight: 600;
			color: $additional-color-11;
		}
		.nav.product-sales {
			.nav-link {
				padding: 6px 17px;
				font-size: 14px;
				border-radius: 30px;
			}
			.nav-link.active {
				background-image: linear-gradient(to right, #434343 0%, #4f5163 100%);
			}
			.show {
				>.nav-link {
					background-image: linear-gradient(to right, #434343 0%, #4f5163 100%);
				}
			}
		}
	}
	.product-sales-body {
		.table {
			>thead {
				>tr {
					>th {
						padding: 20px;
						color: $additional-color-11;
						font-size: 17px;
					}
				}
			}
			>tbody {
				>tr {
					>td {
						padding-left: 22px;
						padding-right: 21px;
						color: $color_76;
						font-size: 18px;
						border-top: $b-width-1 $solid $color_6 !important;
						border-top: none;
						.pro-name {
							position: relative;
							padding-left: 12px;
						}
						.d-m-pro-name-1 {
							background-color: $primary;
							width: 15px;
							height: 15px;
						}
						.d-m-pro-name-2 {
							height: 15px;
							background-color: $dark;
							width: 15px;
						}
						.d-m-pro-name-3 {
							background-color: $success;
							height: 15px;
							width: 15px;
						}
						p.montly-price {
							cursor: pointer;
						}
						p.montly-inc-1 {
							color: $primary;
						}
						p.montly-inc-2 {
							color: $dark;
						}
						p.montly-inc-3 {
							color: $success;
						}
					}
				}
			}
		}
	}
}
.product-list-tooltip.tooltip.show {
	opacity: 1;
}
.product-list-tooltip {
	.tooltip-inner {
		background-color: $white;
		border-radius: 20px;
		color: $black;
		box-shadow: $shadow-16;
		padding: 8px 20px;
	}
	.arrow {
		&:before {
			border-top-color: $white;
			border-bottom-color: $white;
		}
	}
}
