/*      Recent Activity    */
.recent-activity {
	.recent-activity-title {
		h6 {
			color: $color_76;
			font-size: 16px;
			font-weight: 600;
			padding: 20px;
			border-bottom: $b-width-1 $solid $light-gray;
		}
	}
	.recent-activity-body {
		table {
			>tbody {
				>tr {
					>td {
						vertical-align: $v-align-middle;
						border-top: none;
						padding: 1.3rem;
						.new-control {
							span.new-control-indicator {
								background-color: $color_none;
								border: $b-width-1 $solid $color_53;
							}
						}
						.new-control.new-checkbox.checkbox-primary {
							>input {
								&:checked~span.new-control-indicator {
									background-color: $color_53;
								}
							}
						}
						.d-flex {
							.f-header {
								img {
									width: 47px;
								}
							}
							.f-body {
								p.a-f-comment {
									color: $color_49;
									font-size: 14px;
									.usr-name {
										font-weight: 600;
										color: $additional-color-11;
										font-size: 14px;
									}
									.a-f-commented-on {
										font-weight: 600;
										color: $additional-color-11;
										font-size: 14px;
									}
								}
								p.meta-info {
									color: $color_86;
									font-size: 12px;
									font-weight: 600;
									i {
										font-size: 18px;
										color: $color_86;
									}
								}
							}
						}
						i.flaticon-checked-1 {
							font-size: 25px;
							color: $additional-color-2;
						}
						i.flaticon-cancel-circle {
							font-size: 25px;
							color: $color_56;
						}
					}
				}
			}
		}
	}
}