/*      Top Exchange Rates    */
.top-exchange-rate {
	.top-exchange-rate-title {
		h6 {
			color: $color_76;
			font-size: 16px;
			font-weight: 600;
			padding: 20px;
			border-bottom: $b-width-1 $solid $light-gray;
		}
	}
	.top-exchange-rate-body {
		margin-top: 20px;
		table {
			>tbody {
				>tr {
					>td {
						color: $color_49;
						font-size: 15px;
						font-weight: 100;
						padding: 10px 8px;
						white-space: normal;
						vertical-align: $v-align-middle;
						border-top: none;
						.t-e-r-country-currency {
							color: $black;
							font-size: 9px;
						}
						span {
							img {
								width: 60px;
								height: 29px;
							}
						}
						span.t-e-r-country-name {
							color: $color_2;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}
