/*
    Unique Visitors
*/
.unique-visits {
	.unique-visits-title {
		padding: 13px 20px 20px 20px;
		h6 {
			color: $additional-color-11;
			font-size: 19px;
			font-weight: 600;
		}
		p {
			color: $primary;
			font-size: 24px;
		}
	}
	.unique-visits-body {
		.table-responsive {
			padding: 0 24px;
		}
		table {
			tbody {
				tr {
					td {
						border-top: none;
						padding: .85rem 0.75rem;
						.d-flex {
							.f-head {
								img {
									width: 42px;
									height: 42px;
								}
							}
							.f-body {
								h6 {
									color: $additional-color-11;
									font-size: 14px;
									font-weight: 600;
									margin-bottom: 0;
									margin-top: 8px;
								}
								p {
									margin-bottom: 0;
									color: $success;
									font-size: 12px;
								}
							}
						}
						>p {
							font-size: 15px;
							font-weight: 600;
							color: $additional-color-11;
						}
					}
				}
			}
		}
		.u-v-loadmore {
			padding: 18px 20px 20px 20px;
		}
	}
}
