/*
    Bounce Rate
*/
.bounce-rate {
	.bounce-rate-title {
		h6 {
			color: $additional-color-11;
			font-size: 16px;
			font-weight: 600;
		}
	}
	.bounce-rate-body {
		#bounce-rate-chart {
			width: 100%;
			height: 100px;
			.amcharts-main-div {
				a {
					display: none !important;
				}
			}
		}
	}
}
