/*
    Income
*/

#income-widget {
	h6 {
		font-size: 26px;
		text-transform: $transform-upper;
		color: $additional-color-11;
	}
	span.badge-primary {
		vertical-align: $v-align-middle;
		padding: 6px 22px;
		font-size: 15px;
		margin-left: 10px;
	}
	p {
		font-size: 46px;
		color: $additional-color-11;
		font-weight: 600;
	}
}
/*
    Expenses
*/
#expenses-widget {
	h6 {
		font-size: 26px;
		text-transform: $transform-upper;
		color: $additional-color-11;
	}
	span.badge-success {
		vertical-align: $v-align-middle;
		padding: 6px 22px;
		font-size: 15px;
		margin-left: 10px;
	}
	p {
		font-size: 46px;
		color: $additional-color-11;
		font-weight: 600;
	}
}
