$color_76: #1d1d1d;

.income-content {
	.widget-content-area {
		padding: 55px 24px;
	}
	.widget-value {
		position: $pos-abs;
		top: -40px;
		right: 5px;
		font-weight: 600;
		color: $color_76;
		font-size: 19px;
	}
	.widget-text {
		position: $pos-abs;
		right: 5px;
		float: right;
		color: $color_76;
		font-size: 18px;
	}
}
.cogs-content {
	.widget-content-area {
		padding: 55px 24px;
	}
	.widget-value {
		position: $pos-abs;
		top: -40px;
		right: 5px;
		font-weight: 600;
		color: $color_76;
		font-size: 19px;
	}
	.widget-text {
		position: $pos-abs;
		right: 5px;
		float: right;
		color: $color_76;
		font-size: 18px;
	}
}
.net-profit-content {
	.widget-content-area {
		padding: 55px 24px;
	}
	.widget-value {
		position: $pos-abs;
		top: -40px;
		right: 5px;
		font-weight: 600;
		color: $color_76;
		font-size: 19px;
	}
	.widget-text {
		position: $pos-abs;
		right: 5px;
		float: right;
		color: $color_76;
		font-size: 18px;
	}
}
.expenses-content {
	.widget-content-area {
		padding: 55px 24px;
	}
	.widget-value {
		position: $pos-abs;
		top: -40px;
		right: 5px;
		font-weight: 600;
		color: $color_76;
		font-size: 19px;
	}
	.widget-text {
		position: $pos-abs;
		right: 5px;
		float: right;
		color: $color_76;
		font-size: 18px;
	}
}
.income {
	width: 120px;
	height: 120px;
	position: $pos-rel;
}
.cogs {
	width: 120px;
	height: 120px;
	position: $pos-rel;
}
.net-profit {
	width: 120px;
	height: 120px;
	position: $pos-rel;
}
.expenses {
	width: 120px;
	height: 120px;
	position: $pos-rel;
}
