/*
    Invoices
*/
.invoices {
	padding: 1px;
	h6 {
		font-weight: 600;
		font-size: 18px;
		color: $color_76;
	}
	i {
		position: absolute;
		font-size: 50px;
		color: $light-gray;
	}
	span {
		position: relative;
		font-weight: 600;
		color: $color_76;
		padding-left: 6px;
		font-size: 17px;
	}
	.d-m-i-due {
		background-color: $dark;
	}
	.d-m-i-overdue {
		background-color: $additional-color-2;
	}
	p {
		font-size: 28px;
		font-weight: 600;
	}
	p.i-due-value {
		color: $dark;
	}
	p.i-overdue-value {
		color: $additional-color-2;
	}
}
