/*
    Total Booking
*/
#total-booking {
	h6 {
		font-weight: 600;
		color: $additional-color-11;
		font-size: 20px;
	}
	p.t-b-stats {
		font-size: 46px;
		color: $info;
		i {
			font-size: 30px;
			vertical-align: $v-align-middle;
		}
	}
	p.t-b-price {
		font-size: 16px;
		color: $black;
		font-weight: 600;
	}
	span.badge {
		padding: 6px 21px;
	}
}