/*
    Total Sales
*/
.widget.t-sales-widget {
	h6 {
		font-size: 15px;
		font-weight: 600;
		color: $color_76;
	}
	#t-sales-chart {
		vertical-align: $v-align-middle;
		display: inline-block;
		width: 100%;
		height: 60px;
		max-width: 160px;
		.amcharts-main-div {
			a {
				display: none !important;
			}
		}
	}
	.t-s-percentage {
		color: $info;
		font-size: 16px;
	}
	i.icon-up {
		font-size: 17px;
	}
	i.icon-down {
		color: $additional-color-6;
		font-size: 17px;
	}
	.t-s-value {
		font-size: 24px;
		color: $color_76;
	}
}
