/*
	================
		Popovers 
	================
*/


/*
	Popovers Colors
*/
.popover-primary {
	border-color: $light-primary;
}
.popover-success {
	border-color: $light-success;
}
.popover-info {
	border-color: $light-info;
}
.popover-danger {
	border-color: $light-danger;
}
.popover-warning {
	border-color: $light-warning;
}
.popover-secondary {
	border-color: $light-secondary;
}
.popover-dark {
	border-color: $light-dark;
}


/*
	popover Arrow
*/
.popover-primary {
	.arrow {
		&:after {
			border-top-color: $light-primary;
		}
		&:before {
			border-top-color: $light-primary;
		}
	}
}
.popover-success {
	.arrow {
		&:after {
			border-top-color: $light-success;
		}
		&:before {
			border-top-color: $light-success;
		}
	}
}
.popover-info {
	.arrow {
		&:after {
			border-top-color: $light-info;
		}
		&:before {
			border-top-color: $light-info;
		}
	}
}
.popover-danger {
	.arrow {
		&:after {
			border-top-color: $light-danger;
		}
		&:before {
			border-top-color: $light-danger;
		}
	}
}
.popover-warning {
	.arrow {
		&:after {
			border-top-color: $light-warning;
		}
		&:before {
			border-top-color: $light-warning;
		}
	}
}
.popover-secondary {
	.arrow {
		&:after {
			border-top-color: $light-secondary;
		}
		&:before {
			border-top-color: $light-secondary;
		}
	}
}
.popover-dark {
	.arrow {
		&:after {
			border-top-color: $light-dark;
		}
		&:before {
			border-top-color: $light-dark;
		}
	}
}


/*
	popover Header
*/
.popover-primary {
	.popover-header {
		background-color: $light-primary;
		border-color: $color_152;
		color: $primary;
	}
}
.popover-success {
	.popover-header {
		background-color: $light-success;
		border-color: $color_153;
		color: $success;
	}
}
.popover-info {
	.popover-header {
		background-color: $light-info;
		border-color: $color_154;
		color: $info;
	}
}
.popover-danger {
	.popover-header {
		background-color: $light-danger;
		border-color: $color_155;
		color: $danger;
	}
}
.popover-warning {
	.popover-header {
		background-color: $light-warning;
		border-color: $color_156;
		color: $warning;
	}
}
.popover-secondary {
	.popover-header {
		background-color: $light-secondary;
		border-color: $color_157;
		color: $secondary;
	}
}
.popover-dark {
	.popover-header {
		background-color: $light-dark;
		border-color: $color_158;
		color: $dark;
	}
}

/*
	Popover Body
*/
.popover-primary {
	.popover-body {
		background-color: $light-primary;
		color: $primary;
	}
}
.popover-success {
	.popover-body {
		background-color: $light-success;
		color: $success;
	}
}
.popover-info {
	.popover-body {
		background-color: $light-info;
		color: $info;
	}
}
.popover-danger {
	.popover-body {
		background-color: $light-danger;
		color: $danger;
	}
}
.popover-warning {
	.popover-body {
		background-color: $light-warning;
		color: $warning;
	}
}
.popover-secondary {
	.popover-body {
		background-color: $light-secondary;
		color: $secondary;
	}
}
.popover-dark {
	.popover-body {
		background-color: $light-dark;
		color: $dark;
	}
}