/*-----Button additional Colors------*/
.btn-button-1 {
	color: $white !important;
	background-color: $additional-color-1 !important;
	border-color: $additional-color-1;
}
.btn-button-2 {
	background: $additional-color-2 !important;
	color: $white !important;
	border-color: $additional-color-2;
}
.btn-button-3 {
	background: $additional-color-3 !important;
	color: $white !important;
	border-color: $additional-color-3;
}
.btn-button-4 {
	color: $white !important;
	background: $additional-color-4 !important;
	border-color: $additional-color-4;
}
.btn-button-5 {
	background: $additional-color-5 !important;
	color: $white !important;
	border-color: $additional-color-5;
}
.btn-button-6 {
	background: $additional-color-6 !important;
	color: $white !important;
	border-color: $additional-color-6;
}
.btn-button-7 {
	background: $additional-color-7 !important;
	color: $white !important;
	border-color: $additional-color-7;
}
.btn-button-8 {
	color: $white !important;
	background: $additional-color-8 !important;
	border-color: $additional-color-8;
}
.btn-button-9 {
	color: $white !important;
	background: $additional-color-9 !important;
	border-color: $additional-color-9;
}
.btn-button-10 {
	background: $additional-color-10 !important;
	color: $white !important;
	border-color: $additional-color-10;
}
.btn-button-11 {
	background: $additional-color-11 !important;
	color: $white !important;
	border-color: $additional-color-11;
}
.btn-button-12 {
	background: $additional-color-12 !important;
	color: $white !important;
	border-color: $additional-color-12;
}
.btn-button-13 {
	color: $white !important;
	background: $additional-color-13 !important;
	border-color: $additional-color-13;
}
.btn-button-14 {
	background: $additional-color-14 !important;
	color: $white !important;
	border-color: $additional-color-14;
}
.btn-button-15 {
	background: $additional-color-15 !important;
	color: $white !important;
	border-color: $additional-color-15;
}
.btn-button-16 {
	background: $additional-color-16 !important;
	color: $white !important;
	border-color: $additional-color-16;
}