/*-----Button Outline Colors------*/
.btn-outline-primary {
	&:not(:disabled) {
		&:not(.disabled).active {
			background-color: $primary;
			color: $white !important;
		}
		&:not(.disabled) {
			&:active {
				background-color: $primary;
				color: $white !important;
			}
		}
	}
	border: 1px solid #1a73e9 !important;
	color: $primary !important;
	background-color: $color_none;
	box-shadow: none;
	&:hover {
		box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
		color: $white !important;
		background-color: $primary;
	}
}
.show {
	>.btn-outline-primary.dropdown-toggle {
		background-color: $primary;
		color: $white !important;
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
	>.btn-outline-success.dropdown-toggle {
		background-color: $success;
		color: $white !important;
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
	>.btn-outline-info.dropdown-toggle {
		background-color: $info;
		color: $white !important;
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
	>.btn-outline-danger.dropdown-toggle {
		background-color: $danger;
		color: $white !important;
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
	>.btn-outline-warning.dropdown-toggle {
		background-color: $warning;
		color: $white !important;
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
	>.btn-outline-secondary.dropdown-toggle {
		background-color: $secondary;
		color: $white !important;
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
	>.btn-outline-dark.dropdown-toggle {
		background-color: $dark;
		color: $white !important;
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
}
.btn-outline-success {
	&:not(:disabled) {
		&:not(.disabled).active {
			background-color: $success;
			color: $white !important;
		}
		&:not(.disabled) {
			&:active {
				background-color: $success;
				color: $white !important;
			}
		}
	}
	border: 1px solid #1abc9c !important;
	color: $success !important;
	background-color: $color_none;
	box-shadow: none;
	&:hover {
		box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
		color: $white !important;
		background-color: $success;
	}
}
.btn-outline-info {
	&:not(:disabled) {
		&:not(.disabled).active {
			background-color: $info;
			color: $white !important;
		}
		&:not(.disabled) {
			&:active {
				background-color: $info;
				color: $white !important;
			}
		}
	}
	border: 1px solid #00b1f4 !important;
	color: $info !important;
	background-color: $white;
	box-shadow: none;
	&:hover {
		box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
		color: $white !important;
		background-color: $info;
	}
}
.btn-outline-danger {
	&:not(:disabled) {
		&:not(.disabled).active {
			background-color: $danger;
			color: $white !important;
		}
		&:not(.disabled) {
			&:active {
				background-color: $danger;
				color: $white !important;
			}
		}
	}
	border: 1px solid #e7515a !important;
	color: $danger !important;
	background-color: $color_none;
	box-shadow: none;
	&:hover {
		box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
		color: $white !important;
		background-color: $danger;
	}
}
.btn-outline-warning {
	&:not(:disabled) {
		&:not(.disabled).active {
			background-color: $warning;
			color: $white !important;
		}
		&:not(.disabled) {
			&:active {
				background-color: $warning;
				color: $white !important;
			}
		}
	}
	border: 1px solid #e9b02b !important;
	color: $warning !important;
	background-color: $color_none;
	box-shadow: none;
	&:hover {
		box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
		color: $white !important;
		background-color: $warning;
	}
}
.btn-outline-secondary {
	&:not(:disabled) {
		&:not(.disabled).active {
			background-color: $secondary;
			color: $white !important;
		}
		&:not(.disabled) {
			&:active {
				background-color: $secondary;
				color: $white !important;
			}
		}
	}
	border: 1px solid #805dca !important;
	color: $secondary !important;
	background-color: $color_none;
	box-shadow: none;
	&:hover {
		box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
		color: $white !important;
		background-color: $secondary;
	}
}
.btn-outline-dark {
	&:not(:disabled) {
		&:not(.disabled).active {
			background-color: $dark;
			color: $white !important;
		}
		&:not(.disabled) {
			&:active {
				background-color: $dark;
				color: $white !important;
			}
		}
	}
	border: 1px solid #4f5163 !important;
	color: $dark !important;
	background-color: $color_none;
	box-shadow: none;
	&:hover {
		box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
		color: $white !important;
		background-color: $dark;
	}
}
.btn-outline-default {
	border: 1px solid #e9ecef !important;
	color: $color_11 !important;
	background-color: $color_none;
	box-shadow: none;
	&:hover {
		background-color: $light-gray;
	}
}


/*      Dropdown Toggle       */
/*      Dropdown Toggle       */
.btn-outline-default.dropdown-toggle {
	&:after {
		color: $default;
	}
	&:before {
		color: $default;
	}
	&:hover {
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
}
.btn-outline-primary.dropdown-toggle {
	&:after {
		color: $primary !important;
	}
	&:before {
		color: $primary !important;
	}
	&:hover {
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
}
.btn-outline-info.dropdown-toggle {
	&:after {
		color: $info !important;
	}
	&:before {
		color: $info !important;
	}
	&:hover {
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
}
.btn-outline-warning.dropdown-toggle {
	&:after {
		color: $warning !important;
	}
	&:before {
		color: $warning !important;
	}
	&:hover {
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
}
.btn-outline-success.dropdown-toggle {
	&:after {
		color: $success !important;
	}
	&:before {
		color: $success !important;
	}
	&:hover {
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
}
.btn-outline-danger.dropdown-toggle {
	&:after {
		color: $danger !important;
	}
	&:before {
		color: $danger !important;
	}
	&:hover {
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
}
.btn-outline-secondary.dropdown-toggle {
	&:after {
		color: $secondary !important;
	}
	&:before {
		color: $secondary !important;
	}
	&:hover {
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
}
.btn-outline-dark.dropdown-toggle {
	&:after {
		color: $dark !important;
	}
	&:before {
		color: $dark !important;
	}
	&:hover {
		&:after {
			color: $white !important;
		}
		&:before {
			color: $white !important;
		}
	}
}
