
/*------vertical align-----*/
.v-a-top {
	vertical-align: $v-align-top;
}
.v-a-bottom {
	vertical-align: $v-align-bottom;
}
.v-a-baseline {
	vertical-align: $v-align-baseline;
}
.v-a-middle {
	vertical-align: $v-align-middle;
}
.v-a-sub {
	vertical-align: $v-align-sub;
}
.v-a-super {
	vertical-align: $v-align-super;
}
.v-a-top-txt {
	vertical-align: $v-align-text-top;
}
.v-a-bottom-txt {
	vertical-align: $v-align-text-bottom;
}
