/*    Active Task     */
.active-task {
	.active-task-header {
		padding: 22px;
		border-bottom: $b-width-1 $solid $light-gray;
		margin-bottom: 10px;
		h6 {
			color: $color_76;
			font-weight: 600;
			font-size: 16px;
			span {
				font-size: 14px;
				margin-left: 15px;
				color: $additional-color-6;
				font-weight: normal;
			}
		}
	}
	.active-task-body {
		table.table {
			tbody {
				tr {
					border-left: $b-width-2 $solid $white;
					&:hover {
						border-left: $b-width-3 $solid $color_47;
						td {
							i {
								cursor: pointer;
							}
							i.task-edit {
								color: $additional-color-11;
							}
							i.task-cancel {
								color: $secondary;
							}
						}
					}
					td {
						border-top: none;
						label.new-control {
							.task-item {
								.d-flex {
									div.f-head {
										padding: 7px 21px;
										border-radius: 50%;
										text-align: $align-center;
										position: $pos-rel;
										line-height: 1.2;
										height: 41px;
										width: 40px;
										span {
											position: $pos-abs;
											left: 0;
											right: 0;
											margin: 0 auto;
											top: 11px;
										}
									}
									.f-body {
										.task-cat {
											font-size: 13px;
											font-weight: 600;
										}
										.task-title {
											color: $color_76;
											font-weight: 600;
											font-size: 16px;
										}
										.meta-info {
											.meta-usr-name {
												font-size: 13px;
												font-weight: 600;
												color: $additional-color-11;
											}
											.meta-time {
												font-size: 11px;
											}
										}
									}
									.usr-img {
										img {
											border-radius: 50%;
											height: 45px;
											width: 45px;
										}
									}
								}
							}
						}
						i {
							font-size: 19px;
							color: $color_38;
						}
					}
				}
			}
		}
		.new-control.new-checkbox.checkbox-dark {
			>input {
				&:checked~div.task-item {
					.d-flex {
						.f-body {
							.task-title {
								text-decoration: line-through;
								color: $danger;
							}
							.meta-info {
								.meta-usr-name {
									color: $secondary;
								}
							}
						}
					}
				}
			}
		}
	}
	.active-task-bottom {
		button {
		    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
		    box-shadow: 1px 1px 8px 0px #1a73e9;;
			padding: 9px 23px;
			border: none;
			&:hover {
				background-image: linear-gradient(to right, #1a73e9 0%, #3232b7 100%);
			}
		}
	}
}
