/*ALL COINS TABLE*/
.all-coins {
	.custom-select {
		width: auto;
		max-width: 100%;
	}
	.table {
		border-collapse: separate;
		border-spacing: 0 5px;
		>thead {
			&:first-child {
				>tr {
					&:first-child {
						>th {
							border-top: none;
							color: $additional-color-2;
							font-size: 15px;
							font-weight: 600;
						}
					}
				}
			}
		}
		thead {
			th {
				border-bottom: $b-width-1 $solid $color_41;
			}
		}
		tbody {
			tr {
				border-radius: 4px;
				-webkit-transition: all 0.1s ease;
				transition: all 0.1s ease;
				background-color: $color_128;
			}
			td {
				&:first-child {
					border-radius: 4px 0px 0px 4px;
				}
				&:last-child {
					border-radius: 0px 4px 4px 0px;
				}
			}
		}
		>tbody {
			>tr {
				&:hover {
					background-color: $white;
				}
				>td {
					padding: 0.9rem 1.1rem;
					border: none;
					border-right: $color_none;
				}
				>td.up-rate {
					color: $color_126;
				}
				>td.down-rate {
					color: $color_56;
				}
			}
		}
	}
	.table-responsive {
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		&::-webkit-scrollbar-button {
			&:start {
				&:decrement {
					height: 0px;
					display: block;
					background-color: $color_100;
					width: 0;
				}
			}
			&:end {
				&:increment {
					height: 0px;
					display: block;
					background-color: $color_100;
					width: 0;
				}
			}
		}
		&::-webkit-scrollbar-track-piece {
			background-color: $white;
			-webkit-border-radius: 6px;
		}
		&::-webkit-scrollbar-thumb {
			&:vertical {
				height: 50px;
				background-color: $color_100;
				-webkit-border-radius: 6px;
			}
			&:horizontal {
				width: 50px;
				background-color: $color_100;
				-webkit-border-radius: 3px;
			}
		}
	}
}
