/*
    Best Mechanics
*/
.best-mechanics-container {
	.best-mechanics-header {
		h6 {
			padding: 20px 20px 0 20px;
			font-weight: 600;
			color: $additional-color-11;
			font-size: 21px;
		}
	}
	.best-mechanics-body {
		.tab-content {
			.tab-pane {
				.table {
					th {
						border: none;
						color: $color_76;
						font-size: 17px;
						vertical-align: $v-align-middle;
						padding: 8px 35px;
					}
					td {
						vertical-align: $v-align-middle;
						color: $additional-color-11;
						font-weight: 600;
						padding: 12px 22px;
						font-size: 17px;
						.media {
							img {
								width: 42px;
								height: 42px;
							}
							.media-body {
								h6 {
									font-weight: 600;
									color: $additional-color-11;
									font-size: 17px;
								}
							}
						}
						.caret.caret-earn-inc {
							position: $pos-rel;
							bottom: 17px;
							right: -9px;
							color: $success;
							border-top: 0px $dash;
							border-bottom: 10px $solid;
							border-right: 7px $solid $color_none;
							border-left: 7px $solid $color_none;
						}
						.caret.caret-earn-dec {
							position: $pos-rel;
							top: 17px;
							right: -9px;
							color: $danger;
							border-top: 10px $dash;
							border-right: 7px $solid $color_none;
							border-left: 7px $solid $color_none;
						}
					}
				}
			}
		}
	}
	.table-responsive {
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		&::-webkit-scrollbar-button {
			&:start {
				&:decrement {
					height: 0px;
					display: block;
					background-color: $color_100;
					width: 0;
				}
			}
			&:end {
				&:increment {
					height: 0px;
					display: block;
					background-color: $color_100;
					width: 0;
				}
			}
		}
		&::-webkit-scrollbar-track-piece {
			background-color: $white;
			-webkit-border-radius: 6px;
		}
		&::-webkit-scrollbar-thumb {
			&:vertical {
				height: 50px;
				background-color: $color_100;
				-webkit-border-radius: 6px;
			}
			&:horizontal {
				width: 50px;
				background-color: $color_100;
				-webkit-border-radius: 3px;
			}
		}
	}
}
.underline-content {
	.nav-tabs {
		border-bottom: $b-width-1 $solid $light-gray;
		li {
			a {
				padding-top: 0;
				padding-bottom: 15px;
				font-size: 18px;
				color: $additional-color-11;
			}
		}
		.nav-link {
			font-weight: 600;
			&:focus {
				border-color: $color_none;
			}
			&:hover {
				border-color: $color_none;
			}
		}
		.nav-link.active {
			border-color: $color_none;
			border-bottom: $b-width-1 $solid $primary;
			color: $primary;
			background-color: $color_none;
			font-size: 18px;
			&:hover {
				border-bottom: $b-width-1 $solid $primary;
			}
			&:focus {
				border-bottom: $b-width-1 $solid $primary;
			}
		}
		.show {
			>.nav-link {
				border-color: $color_none;
				border-bottom: $b-width-1 $solid $danger;
				color: $danger;
				background-color: $color_none;
				font-size: 18px;
				&:hover {
					border-bottom: $b-width-1 $solid $danger;
				}
				&:focus {
					border-bottom: $b-width-1 $solid $danger;
				}
			}
		}
	}
}
