/*
    Booked Cars List
*/
.booked-cars-list {
	.booked-cars-list-header {
		padding: 21px;
		border-bottom: $b-width-1 $solid $light-gray;
		h6 {
			font-weight: 600;
			color: $additional-color-11;
			font-size: 20px;
		}
	}
	.booked-cars-list-body {
		.booked-car-scroll {
			.mCSB_horizontal.mCSB_inside {
				>.mCSB_container {
					margin-bottom: 2px;
				}
			}
		}
		p {
			display: inline-block;
			padding: 12px 10px 0 10px;
			color: $additional-color-2;
			font-weight: 600;
			font-size: 16px;
		}
		span.badge {
			padding: 4px 30px;
			font-size: 14px;
			background-image: linear-gradient(to right, #00b1f4 0%, #1a73e9 100%);
		}
		table.table {
			thead {
				tr {
					th {
						vertical-align: $v-align-middle;
						color: $color_76;
						font-size: 17px;
						border: none;
						padding-bottom: 0;
					}
				}
			}
			tbody {
				tr {
					td {
						vertical-align: $v-align-middle;
						color: $additional-color-11;
						font-weight: 600;
						border-top: $b-width-1 $solid $light-gray;
						padding-right: 12px;
					}
					td.b-c-l-meta-time {
						color: $additional-color-5;
						i {
							font-size: 17px;
						}
					}
					&:last-child {
						td {
							border-bottom: $b-width-1 $solid $light-gray;
						}
					}
				}
			}
		}
		.c-f-load-more {
			button {
				background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
				border: none;
				&:hover {
					background-image: linear-gradient(-20deg, #1a73e9 0%, #3232b7 100%);
				}
			}
		}
	}
}