/*
    Browser Statistics
*/
.browser-statistics {
    .browser-statistics-header {
        padding: 20px;
        h6 {
            color: $additional-color-11;
            font-size: 16px;
            font-weight: 600;
        }
    }
    .browser-statistics-body {
        table {
            td {
                border-top: none;
                padding: 0 22px 12px 28px;
                .pro-name {
                    color: $color_2;
                    font-weight: 600;
                }
            }
            .d-flex {
                .progress {
                    border-radius: 20px;
                    height: 10px;
                    border: 1px solid $light-gray;
                    background-color: $color_6;
                    .progress-bar {
                        border-radius: 20px;
                    }
                }
            }
            td.action {
                p {
                    font-weight: 600;
                    color: $additional-color-6;
                    display: inline-flex;
                    font-size: 16px;
                }
            }
        }
    }
}
