/*
    Buy Sell Bitcoin
*/
.buySell.underline-content {
	background-color: $white;
	.nav-tabs {
		border-bottom: none;
		background-color: $additional-color-11;
	    border-bottom-left-radius: 0!important;
	    border-bottom-right-radius: 0!important;
		li {
			a {
				padding-top: 15px;
				padding-bottom: 15px;
				font-weight: 600;
				color: $color_59;
				font-size: 17px;
			}
		}
		.nav-link.active.buy {
			border-color: $color_none;
			border-bottom: $b-width-1 $solid $white;
			color: $white;
			background-color: $color_none;
			&:hover {
				border-bottom: $b-width-1 $solid $white;
			}
			&:focus {
				border-bottom: $b-width-1 $solid $white;
			}
		}
		.show {
			>.nav-link.buy {
				border-color: $color_none;
				border-bottom: $b-width-1 $solid $white;
				color: $white;
				background-color: $color_none;
				&:hover {
					border-bottom: $b-width-1 $solid $white;
				}
				&:focus {
					border-bottom: $b-width-1 $solid $white;
				}
			}
			>.nav-link.sell {
				border-color: $color_none;
				border-bottom: $b-width-1 $solid $white;
				color: $white;
				background-color: $color_none;
				&:hover {
					border-bottom: $b-width-1 $solid $white;
				}
				&:focus {
					border-bottom: $b-width-1 $solid $white;
				}
			}
		}
		.nav-link.active.sell {
			border-color: $color_none;
			border-bottom: $b-width-1 $solid $white;
			color: $white;
			background-color: $color_none;
			&:hover {
				border-bottom: $b-width-1 $solid $white;
			}
			&:focus {
				border-bottom: $b-width-1 $solid $white;
			}
		}
		.nav-link {
			&:focus {
				border-color: $color_none;
			}
			&:hover {
				border-color: $color_none;
			}
		}
	}
	.tab-content {
		>.tab-pane {
			padding: 52px 18px 52px 25px;
		}
	}
}
.buySell {
	.form-control {
		color: $primary;
		background-color: $light-primary;
		border: $b-width-1 $solid $primary;
	}
	.tab-content {
		label {
			color: $primary;
		}
	}
}
