.msg-messages {
	.msg-container {
		/*
		    Chat Header
		*/
		.msg-header {
			padding: 20px 0px 20px 20px;
			border-bottom: 1px solid #e9ecef;
			.media {
				i.icon {
					font-size: 24px;
					padding: 10px;
					background-color: $light-primary;
					border-radius: 50%;
					color: $primary;
				}
				.custom-dropdown {
					a.dropdown-toggle {
						&:hover {
							background-color: $color_none;
						}
					}
				}
				.media-body {
					h6 {
						font-size: 19px;
						font-weight: 600;
						color: $color_76;
					}
					p {
						color: $color_115;
					}
				}
				i {
					&:not(.icon) {
						font-size: 17px;
						color: $additional-color-6;
						cursor: pointer;
					}
				}
			}
		}
		/* 
		    msg Body
		*/
		.msg-body {
			.table {
				>tbody {
					>tr {
						>td {
							padding: 18px 19px 24px 19px;
							.meta-time {
								color: $color_117;
								font-size: 13px;
							}
						}
						.media {
							img {
								width: 48px;
							}
							.media-body {
								h6 {
									font-weight: 600;
									font-size: 17px;
									color: $color_76;
								}
								p.message {
									color: $color_116;
									font-size: 15px;
								}
							}
						}
					}
				}
			}
			.show-all-msg {
				a {
					color: $color_57;
					font-size: 19px;
				}
			}
		}
	}
}