/*
    Customer Feedback
*/
.customer-feedback-list {
	.customer-feedback-list-header {
		padding: 21px;
		h6 {
			color: $additional-color-11;
			font-size: 20px;
		}
	}
	.customer-feedback-list-body {
		table.table {
			tbody {
				tr {
					td {
						border-top: 1px solid $light-gray;
						.d-sm-flex {
							.f-header {
								img {
									width: 50px;
									border-radius: 50%;
									border: 2px solid $light-dark;
								}
							}
							.f-body {
								h6 {
									color: $primary;
									font-weight: 600;
									font-size: 18px;
								}
								p.meta-des {
									font-size: 11px;
									font-weight: 600;
									color: $additional-color-6;
								}
								.c-f-rating {
									i {
										color: $light-dark;
									}
									i.flaticon-star-outline {
										color: $additional-color-6;
									}
								}
								.usr-feed {
									color: $color_76;
									font-size: 13px;
									font-weight: 600;
								}
							}
						}
						span.badge {
							font-weight: 600;
							padding: 5px 19px;
						}
					}
				}
			}
		}
		.c-f-load-more {
			padding: 15px;
			border-top: 1px solid $light-gray;
			button {
				background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
				color: $white;
				border: none;
				padding: 8px 34px;
				&:hover {
					background-image: linear-gradient(-20deg, #1a73e9 0%, #3232b7 100%);
				}
			}
		}
	}
}