/*    Customer Feedback     */
.customer-feedback-list {
	.customer-feedback-list-header {
		padding: 20px;
		border-bottom: 1px solid $light-gray;
		h6 {
			color: $color_76;
			font-weight: 600;
			font-size: 16px;
		}
		i {
			color: $light-gray;
			font-size: 22px;
			cursor: pointer;
			&:hover {
				color: $danger;
			}
		}
	}
	.customer-feedback-list-body {
		table.table {
			tbody {
				tr {
					td {
						border-top: none;
						.media {
							img {
								width: 45px;
								border-radius: 50%;
							}
							.media-body {
								h6 {
									color: $additional-color-6;
									font-size: 15px;
								}
								p.meta-des {
									font-size: 11px;
									font-weight: 600;
									color: $additional-color-6;
								}
								.c-f-rating {
									font-size: 13px;
									.meta-usr-rated {
										margin-right: 12px;
										font-size: 14px;
										font-weight: 600;
									}
									span {
										&:not(.meta-usr-rated) {
											margin-left: 14px;
											font-size: 11px;
										}
									}
									i {
										color: $info;
										font-size: 16px;
									}
									i.flaticon-star-outline {
										color: $additional-color-6;
									}
								}
								.usr-feed {
									color: $additional-color-11;
									font-size: 15px;
									font-weight: 600;
								}
							}
						}
						i.flaticon-like-3 {
							padding: 7px;
							background-color: $additional-color-6;
							border-radius: 50%;
							color: $white;
						}
						.c-f-meta-like {
							color: $additional-color-11;
							margin-top: 4px;
							width: 26px;
							text-align: center;
							margin: 0 0 0 auto;
						}
					}
				}
			}
		}
	}
}
