/*
    Driver List
*/
.statbox.widget.box.box-shadow.driver-list {
	h4 {
		font-size: 20px;
	}
}
.driver-list {
	table.table {
		thead {
			tr {
				th {
					cursor: pointer;
					color: $additional-color-11;
					vertical-align: $v-align-middle;
					font-weight: 600;
					font-size: 19px;
					.new-control-indicator {
						background-color: $color_none;
						border: $b-width-1 $solid $additional-color-11;
					}
					.new-control.new-checkbox.checkbox-primary {
						>input {
							&:checked~span.new-control-indicator {
								border: none;
							}
						}
					}
				}
				&:hover {
					th {
						.new-control-indicator {
							border-color: $primary;
						}
					}
				}
			}
		}
		tbody {
			tr {
				td {
					color: $additional-color-11;
					font-size: 17px;
					vertical-align: $v-align-middle;
					border-top: $b-width-1 $solid $light-gray;
					padding-right: 12px;
					.new-control-indicator {
						background-color: $color_none;
						border: $b-width-1 $solid $additional-color-11;
					}
					.new-control.new-checkbox.checkbox-primary {
						>input {
							&:checked~span.new-control-indicator {
								border: none;
							}
						}
					}
					.d-inline-block {
						img {
							width: 48px;
							border: $solid $b-width-3 $light-gray;
						}
						h6 {
							color: $additional-color-11;
							font-size: 18px;
						}
					}
					.t-dot {
						height: 16px;
						width: 16px;
						border: $b-width-3 $solid $light-gray;
					}
					.d-l-available {
						background-color: $color_55;
					}
					.d-l-not-available {
						background-color: $additional-color-6;
					}
					.t-d-rating {
						i {
							color: $light-dark;
							font-size: 14px;
						}
						i.flaticon-star-outline {
							color: $light-dark;
							font-size: 14px;
						}
					}
					i.flaticon-edit {
						color: $additional-color-6;
						font-size: 21px;
						cursor: pointer;
					}
				}
				&:hover {
					td {
						color: $color_57;
						.d-inline-block {
							h6 {
								color: $color_57;
							}
						}
						i.flaticon-edit {
							color: $color_57;
						}
						.new-control-indicator {
							border-color: $primary;
						}
					}
				}
			}
		}
	}
}