/*
    Drop Upload
*/
.file-uploader {
	position: $pos-rel;
	background-color: $light-primary;
	height: 100%;
	.dropzone {
		min-height: 290px;
		border: 0px $solid rgba(0, 0, 0, 0.3);
		background: $color_none;
		padding: 0;
		margin: 0;
		.dz-message {
			text-align: center;
			margin: 0em 0;
		}
		.dz-preview {
			position: $pos-abs;
			top: 35%;
			right: 0;
			left: 0;
			padding: 0 5px;
			background: $color_none;
		}
	}
}
.dropzone {
	.dz-message {
		h3 {
			font-size: 22px;
			color: $primary;
		}
		i {
			font-size: 90px;
			color: $primary;
		}
		button {
			border: $b-width-2 $solid $primary !important;
			color: $primary !important;
			padding: 10px 35px;
			border-radius: 6px;
			&:hover {
				color: $white !important;
			    background-color: $primary!important;
			    border-color: $primary!important;
			}
		}
	}
	.dz-preview {
		.dz-image {
			margin: 0 auto;
		}
	}
}
