/*  Latest Transactions      */
.latest-transactions {
	.latest-transactions-title {
		h6 {
			color: $color_1;
			font-size: 16px;
			font-weight: 600;
			padding: 20px;
			border-bottom: $b-width-1 $solid $light-gray;
		}
	}
	.latest-transactions-body {
		table {
			tbody {
				tr {
					td {
						border-top: none;
						vertical-align: $v-align-middle;
						color: $color_2;
						font-weight: 600;
						font-size: 13px;
						padding: 1.3rem;
						.d-flex {
							.f-header {
								img {
									width: 47px;
									border-radius: 50%;
								}
							}
							.f-body {
								h6 {
									font-size: 14px;
									font-weight: 600;
									color: $color_1;
								}
							}
						}
						.l-t-confirmed {
							color: $color_1;
							margin-left: 6px;
							font-size: 14px;
						}
						.l-t-waiting {
							color: $color_1;
							margin-left: 6px;
							font-size: 14px;
						}
						.l-t-expired {
							color: $color_1;
							margin-left: 6px;
							font-size: 14px;
						}
						.dot {
							padding: 2px;
							border-radius: 50%;
							font-size: 18px;
							display: inline-flex;
							width: 10px;
							height: 10px;
							border-radius: 50%;
							align-items: center;
							justify-content: center;
						}
						.dot-success {
							background-color: $success;
						}
						.dot-warning {
							background-color: $warning;
						}
						.dot-danger {
							background-color: $danger;
						}
						.l-t-price {
							font-size: 14px;
							color: $color_1;
						}
						span {
							color: $additional-color-6;
							font-size: 13px;
						}
						button {
							padding: 2px 15px;
							font-size: 13px;
						}
					}
					&:not(:last-child) {
						td {
							border-bottom: $b-width-1 $solid #f1f3f1;
						}
					}
				}
			}
		}
	}
}
p.l-t-meta-date {
	font-size: 14px;
	color: $color_1;
}
