
@media (max-width: 767px) {
	.timeline-widget {
		.right-thumbnail-border {
			border-right: 0px solid $color_137;
		}
		ol {
			padding-left: 0px;
		}
		.cd-horizontal-timeline {
			.events-content {
				li {
					padding: 0 1%;
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) {
	.timeline-widget {
		.cd-horizontal-timeline {
			.events-content {
				h2 {
					font-size: 20px;
				}
				em {
					font-size: 17px;
				}
				p {
					font-size: 17px;
					text-align: justify;
				}
			}
		}
	}
}
@media only screen and (min-width: 1100px) {
	.timeline-widget {
		.cd-horizontal-timeline {
			margin: 2em auto;
			&::before {
				content: 'desktop';
			}
		}
	}
}
@media (max-width: 575px) {
	.top-coins-trends {
		height: auto;
	}
	.investors {
		height: auto;
	}
}